@inherits Custom.Hybrid.Razor14
@*!
Tut.Tabs=file:../../api/OrdersController.cs
!*@
<button type="button" class="btn btn-primary" onclick="postOrdersFetch(this)">
  Quick Fetch POST "Orders"
</button> 
  @*! 2sxclint:disable:no-inline-script !*@
<script>
  function postOrdersFetch(moduleContext) {
    $2sxc(moduleContext).webApi
    .fetchJson('orders/post', 
    { amount: Math.floor(Math.random() * 100) })
      .then(data => alert('Result using quick Fetch: ' 
      + JSON.stringify(data)));
  }
</script>