@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade
@using System.Linq
@{/*! Tut.Tabs=file:../../DataSources/Authors.cs,file:../../DataSources/KeepOdd.cs,ViewConfig */
  var viewCnf = MyModel.Code("Tutorial").ViewConfig;
  var MyData = viewCnf.Query(query: "DynamicDataSourceKeepOdd") as ToSic.Eav.DataSource.IDataSource;
/*!*/}
<h3>Data in the Query (@MyData.List.Count())</h3>
<ul>
  @foreach (var item in AsItems(MyData)) {
    <li>
      <strong>@item.Title</strong> (ID: @item.Id)
    </li>
  }
</ul>