@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade
@using System.Linq
@{/*! Tut.Tabs=file:../../AppCode/DataSources/Authors.cs,file:../../AppCode/DataSources/KeepOdd.cs,ViewConfig */
  var viewCnf = DynamicModel.Tutorial.ViewConfig;
  var Data = viewCnf.Query(query: "DynamicDataSourceKeepOdd") as ToSic.Eav.DataSource.IDataSource;
/*!*/}
<h3>Data in the Query (@Data.List.Count())</h3>
<ul>
  @foreach (var item in AsList(Data)) {
    <li>
      <strong>@item.EntityTitle</strong> (ID: @item.EntityId)
    </li>
  }
</ul>
