@inherits Custom.Hybrid.RazorTyped
@{/*! Tut.Tabs=ViewConfig */
  var viewCnf = MyModel.Code("Tutorial").ViewConfig;
  var itemEntities = viewCnf.List(query: "QuickRef-Content-Simulation");
  var MyItem = AsItem(itemEntities as object);
  var prepPres = AsItem(viewCnf.PresList(itemEntities, padWithNull: false, query: "QuickRef-Content-Simulation", stream: "Presentation") as object);
/*!*/}
<h4>A Person on <code>MyItem</code></h4>
@{
  var itemPres = MyItem.Presentation;
}
@{/*! Silent patching for tutorial only, as it's not a standalone view  */
 itemPres = prepPres;
/*!*/}
<p>
  Note that the following should be @itemPres.String("Color") (probably green)
</p>
<p style='color: @itemPres.Attribute("Color")'>
  @MyItem.Title
</p>
