@inherits Custom.Hybrid.Razor14
@{/*! Tut.Tabs=ViewConfig */
  var viewCnf = DynamicModel.Tutorial.ViewConfig;
  var Data = viewCnf.List(query: "QuickRef-Persons-Selected");
  var Header = AsDynamic(viewCnf.Header(query: "QuickRef-Content-Simulation", stream: "Header") as object);
/*!*/}
<h3>@Header.Title</h3>
<ul>
  @foreach (var item in AsList(Data)) {
    <li>
      @item.EntityTitle
    </li>
  }
</ul>


