@inherits Custom.Hybrid.Razor14
<hide>
@Html.Partial("_header.cshtml")
@{  var linker = CreateInstance("../shared/Helpers.cs"); }
</hide>

<trim>
<h2>Hybrid Razor for Dnn ☢ and Oqtane 💧</h2>

<ol>
  @linker.TutorialLink("Advanced Hybrid Use", 
    "hybrid410",
    "Use compiler Preprocessor Directives to enable Hybrid Razor",
    "new in v12")
</ol>

</trim>
