@inherits Custom.Hybrid.Razor14
<h3>.net Core code = Oqtane 💧</h3>
<p>
  On Oqtane or any .net core system you should see this because <code>CmsContext.Platform.Name</code> was <code>Oqtane</code>. <br>

  Here you can also place code which only works in Oqtane, like: 
  Version: @Oqtane.Shared.Constants.Version
</p>
