@inherits Custom.Hybrid.Razor12
<hide>
@Html.Partial("_header.cshtml")
@{  var linker = CreateInstance("../shared/Helpers.cs"); }
</hide>

<trim>
<h2>JavaScript APIs in 2sxc (Tutorial WIP)</h2>

<p>
  This section will show you all the magic you can do with the 2sxc JS API.
  <br><br>
  Learn more about our JS Web API fetch <a href="https://app-dev.2sxc.org/tutorial-razor/en-bs4/Home/webapi/home" target="_blank">here</a>.<br>
  Learn more about 2sxc toolbars <a href="https://docs.2sxc.org/js-code/toolbars/index.html">in the docs</a>.
</p>

<ol>
  @linker.TutorialLink("Advanced Hybrid Use", 
    "hybrid410",
    "Use compiler Preprocessor Directives to enable Hybrid Razor",
    "new in v12")
</ol>

</trim>
