@inherits Custom.Hybrid.RazorTyped
<ul>
  <li>
    AllSettings.Images.Content.Width <br>
    @AllSettings.Int("Images.Content.Width")
  </li>
  <li>
    AllSettings.Images.Content.AspectRatio <br>
    @AllSettings.Get("Images.Content.AspectRatio")
  </li>
</ul>