@inherits Custom.Hybrid.Razor14
<ul>
  <li>
    <code>Settings.Images.Content.Width</code> <br>
    @Settings.Get("Images.Content.Width")
  </li>
  <li>
    <code>Settings.Images.Content.AspectRatio</code> <br>
    @Settings.Get("Images.Content.AspectRatio")
  </li>
</ul>