@inherits Custom.Hybrid.Razor14
@*!
Tut.Tabs=file:./js/200-multi-file.js
!*@
@{
  // Create unique DOM attribute with Module Id
  var domAttribute = "turn-on-require-many-" + CmsContext.Module.Id;
  var data = new {
    domAttribute
  };
}

@* Inject attribute into DIV, to make it accessible for query *@
<div @domAttribute></div>

@* 
  Wait for thirdparty library "spritejs" to load, 
  then execute the window.turnOnTutorial200.init function 
  and pass the domAttribute as JSON
*@
@Kit.Page.TurnOn("window.turnOnTutorial200.init()", data: data, require: "window.spritejs")

@* Include thirdparty library from CDN *@
<script src="https://unpkg.com/spritejs@3/dist/spritejs.js"></script>

@* Include local JavaScript file *@
<script src="@App.Path/tutorials/turnon-use/js/200-multi-file.js" @Kit.Page.AssetAttributes()></script>
