@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade

<ol>
  <li>
    <code>.Id</code> of the current page: 
    <strong>@MyPage.Id</strong>
    (<code>TabId</code> in DNN or 
    <code>Page.PageId</code> in oqtane.)
  </li>
  <li>
    <code>.Url</code> the page url with protocol: 
    <strong>@MyPage.Url</strong>
  </li>
  <li>
    <code>.Parameters</code> all the url parameters of the page 
    <code>@MyPage.Parameters</code>
  </li>
  <li>
    <code>.Parameters[name]</code> Access a specific parameter 
    (in this case the parameter <code>c140</code> from the url)
    <strong>
      @MyPage.Parameters["c140"]
    </strong>
  </li>
</ol>