

Home


@RenderPage("shared/_title.cshtml", new { Title = "Razor Tutorial - Home"})

<h2>How to use this Tutorial</h2>
<p>
  Below you'll find a list of topics this tutorial covers. The easiest way to work with it is to look at an example, then click on "edit-code" to see how it's written. You can also make changes and see what happens, but of course you could also break the code :)
</p>

<hr>
<h2>Basic Stuff</h2>
todo

<hr>
<h2>LINQ examples</h2>
<p>
  The following examples show how to use LINQ (Language INtegrated Query) to sort, filter and group data. This is for quick work in your views - for more extensive querying, we recommend the Visual Query Designer. 
</p>

<ol>
  @TutorialLink("Stuff", "q1/q1")
</ol>



@helper TutorialLink(string label, string target) {
  <li>
    <a href="@Link.To(parameters: target)">
      @label
    </a>
  </li>
}