

Home


@RenderPage("shared/_title.cshtml", new { Title = "Razor Tutorial - Home"})

<h2>How to use this Tutorial</h2>
<p>
  Below you'll find a list of topics this tutorial covers. The easiest way to work with it is to look at an example, then click on "edit-code" to see how it's written. You can also make changes and see what happens, but of course you could also break the code :)
</p>

<hr>
<h2>Tutorials</h2>

<ol>
  @TutorialLink("Basic Examples", "basics", "Basic use of Razor with variables, loops, conditions etc.")
  @TutorialLink("LINQ Examples", "linq", "The following examples show how to use LINQ (Language INtegrated Query) to sort, filter and group data. This is for quick work in your views - for more extensive querying, we recommend the Visual Query Designer. ")
</ol>



@helper TutorialLink(string label, string target, string description) {
  <li>
    <strong>
    <a href='@Link.To(parameters: target + "/home")'>
      @label
    </a>
    </strong><br>
    @description
  </li>
}