@inherits AppCode.Razor.AppRazor<VariantSelectorModel>
@using ToSic.Razor.Blade
@using AppCode.TutorialSystem
@using AppCode.TutorialSystem.Razor
@{
  var current = Model.Current;
  var variants = Text.First(Model.Variants, "typed,dyn");

  var variantButtons = variants.Split(',').Select(variant => {
    var variantIsSelected = variant == current;
    var classes = variantIsSelected ? "btn btn-success" : "btn btn-primary";
    var newVariant = variantIsSelected ? "" : variant;
    var href = variantIsSelected ? "#" : Link.To(parameters: MyPage.Parameters.Set("variant", newVariant));
    var label = "";
    switch (variant)
    {
      case Constants.VariantTyped:
        if (variantIsSelected) {
          label = "Selected: Typed (2sxc 16+)";
        } else {
          label = "Switch to Typed (2sxc 16+)";
        }
        break;
      case Constants.VariantDyn:
        if (variantIsSelected) {
          label = "Selected: Dynamic (Razor14 or below)";
        } else {
          label = "Switch to Dynamic (Razor14 or below)";
        }
        break;
      case "pre12":
        if (variantIsSelected) {
          label = "Selected: Pre Razor12";
        } else {
          label = "Switch to Pre Razor12";
        }
        break;
    }
    return new { classes, href, label };
  })
  .ToList();
}
<div class="alert alert-info">
  The samples can differ based on your Razor base class or if you're running an old version. <br>
  @foreach (var btn in variantButtons) {
    <a class="@btn.classes" href="@btn.href">@btn.label</a>
  }
</div>
