@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade

@{
  // Example using string
  var newParamsFromString = MyPage.Parameters + "&name=2sxc";

  // Page parameters using .Add(...) method
  var newParamsFromAdd = MyPage.Parameters.Add("name", "2sxc");
}
<hide>
<p>See adjusted page parameters: <code>@newParamsFromAdd</code></p>
</hide>
<p>Current page URL with new parameter from string: @Link.To(parameters: newParamsFromString)</p>
<p>Current page URL with new parameter from <code>.Add(...)</code>: @Link.To(parameters: newParamsFromAdd)</p>
