@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade

@{
  var startParams = MyPage.Parameters
    .Add("sort", "title")
    .Add("tag", "2sxc")
    .Add("details", "true");

  var currentParamsRemoved = startParams.Remove("tag");
}

@{/*!*/
  <!-- unimportant stuff, hidden -->
  <p>Remove <em><strong>tag</strong></em> parameter:</p>
  <hr />
  <p><em>https://app-dev.2sxc.org/tutorial-razor/<strong>@Link.To(parameters: currentParamsRemoved).Replace("https://app-dev.2sxc.org/tutorial-razor/", "")</strong></em></p>
/*!*/}
