@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade;
@using System.Linq;
@using ToSic.Eav.DataSources;
@{/*! Tut.Tabs=file:../VisualQueryCustomized.cs, ViewConfig */
/*!*/}
<div class="row">
  @* <div class="col-4">@Sys.Fancybox.PreviewWithLightbox(App.Path + "/data-sources/assets/visual-query-attribute.jpg", 200, 200, "float-left", label: "Customized with VisualQuery Attribute", figure: false)</div> *@
</div>