@inherits Custom.Hybrid.RazorTyped
@using System.Linq

@{
  // Initial Code
  var persons = AsItems(App.Data.GetStream("Persons"));
  var books = AsItems(App.Data.GetStream("Books"));
}
@{
  // this keeps all books whose authors have awards
  var booksWithAwardedAuthors = books
    .Where(b => AsItems(b.Children("Authors"))
    .Any(a => a.Children("Awards").Count() > 0));
  var otherBooks = books.Where(b => !booksWithAwardedAuthors
    .Contains(b as object));
}
<ol>
  @foreach (var book in otherBooks) {
    <li><strong>@book.Get("Title")</strong></li>
  }
</ol>