@inherits Custom.Hybrid.RazorTyped
@using System.Linq

@{
  // Initial Code
  var persons = AsItems(App.Data.GetStream("Persons"));
  var books = AsItems(App.Data.GetStream("Books"));
}
<ol>
  @foreach (var book in books
    .OrderByDescending(p => p.Children("Authors").Count())) 
  {
    var authors = AsItems(book.Children("Authors"))
      .Select(a => a.String("FirstName") + " " + a.String("LastName"));
    <li><strong>@book.Get("Title")</strong> 
      by @string.Join(",", authors.OrderBy(ln => ln)) 
      (@book.Children("Authors").Count() author) 
    </li>
  }
</ol>