@inherits Custom.Hybrid.RazorTyped
@using System.Linq

@{
  // Initial Code
  var persons = AsItems(App.Data.GetStream("Persons"));
  var books = AsItems(App.Data.GetStream("Books"));
}
@{
  var booksGroupedByAuthorAwards = books
    .GroupBy(b => (AsItems(b.Children("Authors"))
    .Any(a => a.Children("Awards").Count() > 0)));
}
<ul>
  @foreach (var group in booksGroupedByAuthorAwards) {
    <li>
      Authors with Awards: @group.Key
      <ul>
        @foreach (var book in group) {
          <li>
            @book.Get("Title")
          </li>
        }
      </ul>
    </li>
  }
</ul>