@inherits Custom.Hybrid.Razor14
@using System.Linq

@{
  // Initial Code
  var persons = AsList(App.Data["Persons"]);
  var books = AsList(App.Data["Books"]);
}
<ol>
  @foreach (var group in books.GroupBy(b => b.Authors)) {
    <li>
      Group
      <ul>
        @foreach (var book in group) {
          <li>
            <strong>@book.Title</strong> by
            @string.Join(",", AsList(book.Authors as object)
            .Select(a => a.FirstName + " " + a.LastName))
          </li>
        }
      </ul>
    </li>
  }
</ol>