@inherits Custom.Hybrid.RazorTyped
@using System.Linq;

@{
  // Initial Code
  var persons = AsItems(App.Data.GetStream("Persons"));
  var books = AsItems(App.Data.GetStream("Books"));
}
<ol>
  @foreach (var author in persons) {
    // this line would work, if Books only 
    // had people in the Authors. 
    // but it doesn't, there are also illustrators, 
    // which is why we use the second example instead
    var peoplesBooks = author.Parents(type:"Books");
    var authorsBooks = author.Parents(type:"Books", field: "Authors");

    <li>
      @author.Get("FirstName") @author.Get("LastName")
      <ul>
        @foreach (var book in authorsBooks) {
          var coAuthors = AsItems(book.Children("Authors"))
          .Where(a => a != author);
          <li>
            <strong>@book.Get("Title")</strong> 
            @if (coAuthors.Any()) {
              <span>co-authored by 
                @string.Join(",", coAuthors
                .Select(a => a.String("FirstName") + " " + a.String("LastName")))
              </span>
            }
          </li>
        }
      </ul>
    </li>
  }
</ol>