@inherits Custom.Hybrid.RazorTyped
@using System.Linq;

@{
  // Initial Code

  var persons = AsItems(App.Data.GetStream("Persons"));
  var books = AsItems(App.Data.GetStream("Books"));
}
@{
  // this keeps all books whose authors have awards
  var booksWithAwardedAuthors = books
    .Where(b => AsItems(b.Children("Authors"))
    .Any(a => a.Children("Awards").Count() > 0));
}
<ol>
  @foreach (var book in booksWithAwardedAuthors) {
    var awards = AsItems(book.Children("Authors"))
      .SelectMany(a => AsItems(a.Children("Awards")));
    <li><strong>@book.Get("Title")</strong> 
      with @string.Join(",", awards.Select(a => a.String("Name"))) 
      (@awards.Count() awards) 
    </li>
  }
</ol>