@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade
@using System.Linq
@using ToSic.Eav.DataSources
@*!
Tut.Tabs=file:/assets/data/products.csv.txt
!*@
@{
  // Create the data source and provide configuration in the options
  var products = Kit.Data.GetSource<Csv>(parameters: new {
    FilePath = App.RelativePath + "/asstes/data/products.csv.txt",
    Delimiter = ";",
  });
}
<h3>List of Data in the CSV DataSource (@products.List.Count())</h3>
<ul>
  @foreach (var product in AsList(products)) {
    <li>
      @product.Name (@product.Description)
    </li>
  }
</ul>