@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@using System.Linq;
@using ToSic.Eav.DataSources;
@{/*! Tut.Tabs=ViewConfig */
  var viewCnf = DynamicModel.Tutorial.ViewConfig;
  viewCnf.Query("GetQueryDemoAuthorsSorted" + CmsContext.Platform.Name);
/*!*/}
@{
  var queryFirstNameDesc = Kit.Data.GetQuery("GetQueryDemoAuthorsSorted", parameters: new {
    Sort = "Desc",
    Field = "FirstName"
  });
}
<h3>List of Persons from the DataSource</h3>
<ul>
  @foreach (var person in AsList(queryFirstNameDesc)) {
    <li>
      @person.FirstName @person.LastName
    </li>
  }
</ul>

@* TODO:: @2dm Query Img *@
