@inherits Custom.Hybrid.RazorTyped
@{/*! Tut.Tabs=ViewConfig */
  var tutCode = MyModel.Code("Tutorial");
  var MyData = tutCode.SimulateViewQuery(query: "QuickRef-Persons-Selected") as ToSic.Eav.DataSource.IDataSource;
/*!*/}
<h4>Loop persons in Query of this view</h4>
<ul>
  @foreach (var person in AsItems(MyData)) {
    <li>
      @person.Picture("Mugshot", settings: "Square", width: 50, imgClass: "rounded-circle")
      @person.String("FirstName") @person.String("LastName")
    </li>
  }
</ul>
