@inherits Custom.Hybrid.RazorTyped
@{/*! Tut.Tabs=ViewConfig */
  var tutCode = MyModel.Code("Tutorial");
  var MyData = tutCode.SimulateViewQuery(query: "QuickRef-Persons-Selected") as ToSic.Eav.DataSource.IDataSource;
/*!*/}
@{
  var selected = AsItem(MyData.GetStream("Selected"));
}
<div>
  Selected: @selected.String("FirstName") @selected.String("LastName")
</div>
<ul>
  @foreach (var person in AsItems(MyData)) {
    <li>
      @person.String("FirstName") @person.String("LastName")
      @if (person.Equals(selected)) {
        <strong>(selected ⭐)</strong>
      }
    </li>
  }
</ul>
