@inherits Custom.Hybrid.RazorTyped
@{/*!*/
  var tlbControl = GetCode("/Shared/ToolbarHelpers.cs");
  tlbControl.ToolbarsAutoShowStart(Kit.Toolbar);
/*!*/}
<div class="alert alert-light" 
  @Kit.Toolbar.Default(MyItem).Settings(hover:"left")>
  <h3>Hover Left</h3>
</div>
@{/*!*/
  tlbControl.ToolbarsAutoShowEnd(Kit.Toolbar);
/*!*/}