@inherits Custom.Hybrid.Razor14
<div class="alert alert-light" @Kit.Toolbar.Default().Delete().For(Content)>
<h3>Always show <code>Delete</code></h3>
  <p>Note that you'll have to hit the ellipsis a few times to see it.</p>
</div>
