@inherits Custom.Hybrid.Razor12
<div class="alert alert-light" 
  @Edit.TagToolbar(Content, toolbar: new[] { 
  "+group=my",
  "+new&group=my&color=red&title=Blog-Post?contentType=BlogPost",
  "+new&group=my&color=green&title=Category?contentType=Category",
})>
  <h3>Add a button-group just for my buttons</h3>
</div>
