@inherits Custom.Hybrid.RazorTyped
@{/*!*/
  var tlbControl = GetCode("/Shared/ToolbarHelpers.cs");
  tlbControl.ToolbarsAutoShowStart(Kit.Toolbar);
/*!*/}
<div class="alert alert-light" 
  @Kit.Toolbar.Default().New(tweak: b=>b.Position(-1))
    .For(MyItem)>
  <h3><em>tweak</em> Add <code>new</code>
    at the end of button-list
  </h3>
</div>
@{/*!*/
  tlbControl.ToolbarsAutoShowEnd(Kit.Toolbar);
/*!*/}

