@inherits Custom.Hybrid.Razor14
@*!
Tut.Tabs=file:../130-toolbar-workflow.js
!*@
<div class="alert alert-primary" style="width: 100%;">
  <div id='inlineToolbar'>
    @Kit.Toolbar.Empty().New("UiEmptyHelloWorld").AsTag()
    When you click it and close the dialog again, the page will <em>not refresh</em>. <br>
    Instead, you'll see console messages that a custom JS took over the process.
  </div>
</div>
