@inherits Custom.Hybrid.Razor14
@{
  var moreButtonToolbar = Kit.Toolbar.Default().Settings(autoAddMore:"never");
}
<div class="alert alert-light" @moreButtonToolbar
  .For(Content)>
  <h3>Remove <code>more</code> button</h3>
</div>