@inherits Custom.Hybrid.RazorTyped
<div class="alert alert-light" 
  @Kit.Toolbar.Default(MyItem).Settings(autoAddMore: "end", hover: "left")>
  <h3>New syntax: Hover Left and 
    <code>more</code> button to the right
  </h3>
</div>