@inherits Custom.Hybrid.Razor14
@{/*!*/
  var tlbControl = GetCode("/Shared/ToolbarHelpers.cs");
  tlbControl.ToolbarsAutoShowStart(Kit.Toolbar);
/*!*/}
<div class="alert alert-light" 
  @Kit.Toolbar.Default().Code("showMsg1",ui:"title=Show%20Message")
    .For(Content)>
  <h3>Just call <code>showMsg1()</code></h3>
</div>
@*! 2sxclint:disable:no-inline-script !*@
<script>
  function showMsg1() {
    alert('hello from my button!');
  }
</script>
@{/*!*/
  tlbControl.ToolbarsAutoShowEnd(Kit.Toolbar);
/*!*/}