@inherits Custom.Hybrid.Razor12
<div class="alert alert-light" @Edit.TagToolbar(Content, toolbar: new[] { "toolbar=empty", "+edit"})>
  <h3>Use empty toolbar template and add <code>edit</code></h3>
</div>