@inherits Custom.Hybrid.RazorTyped
@{
  var moreButtonToolbar = Kit.Toolbar.Default().Settings(autoAddMore:"never");
}
<div class="alert alert-success" @moreButtonToolbar.For(MyItem)>
  <h3>Remove <code>more</code> button</h3>
</div>