@inherits Custom.Hybrid.RazorTyped
<div class="alert alert-light" 
  @Kit.Toolbar.Empty(MyItem).New(ui: "color=orange")>
  <h3><code>ui</code> as inline string </h3>
</div>

@{  var uiReuse = "color=magenta";  }
<div class="alert alert-light" 
  @Kit.Toolbar.Empty(MyItem).Edit(ui: uiReuse).New(ui: uiReuse)>
  <h3><code>ui</code> as string variable for reuse</h3>
</div>

@{
  var uiShared = "color=magenta&title=Default Title";
  var uiMerged = new object[] {
    uiShared, "title=Modified Title" 
    };
}
<div class="alert alert-light" 
  @Kit.Toolbar.Empty(MyItem).Edit(ui: uiShared).New(ui: uiMerged)>
  <h3><code>ui</code> as string for reuse and merge</h3>
  <p>Mouse over the buttons to see how we 
    use/merge to ui configurations
  </p>
</div>
