@inherits Custom.Hybrid.Razor12
<div class="alert alert-light" 
  @Edit.TagToolbar(Content, toolbar: new[] { 
  "settings&hover=left&autoAddMore=end",
})>
  <h3>Old syntax: Hover Left and 
    <code>more</code> button to the right
  </h3>
</div>
