@inherits Custom.Hybrid.RazorTyped
@{/*!*/
  // 2sxclint:disable:toolbars-should-not-use-filter - TODO: @2dm - change this in typed when bug is fixed
  var tlbControl = GetCode("/Shared/ToolbarHelpers.cs");
  tlbControl.ToolbarsAutoShowStart(Kit.Toolbar);
/*!*/}
@{
  var firstThreeAuthorIds = AsItems(App.Data.GetStream("Persons"))
    .Select(author => author.Id)
    .Take(3)
    .ToArray();

  var toolbarTop3 = Kit.Toolbar.Empty()
    .Data("Books", filter: new 
      { Authors = firstThreeAuthorIds }
    );
}
<div class="alert alert-light" @toolbarTop3>
  <h3><code>Data</code> buttons returning books which 
    has any of 3 authors
  </h3>
</div>

@{
  var authorsToolbar = Kit.Toolbar.Empty();
  foreach (var auth in AsItems(App.Data.GetStream("Persons"))) {
    authorsToolbar = authorsToolbar.Data("Books",
      ui: new { Title = "Books by " 
        + auth.String("FirstName") 
        + " " 
        + auth.String("LastName")},
      filter: new { Authors = new int[] 
        { auth.Id } 
      }
    );
  }
}
<div class="alert alert-light" @authorsToolbar>
  <h3>Many <code>Data</code> buttons each filtering 
    for one related author
  </h3>
</div>
@{/*!*/
  tlbControl.ToolbarsAutoShowEnd(Kit.Toolbar);
/*!*/}