@inherits Custom.Hybrid.Razor14
<div class="alert alert-light" @Kit.Toolbar.Empty().Data("Books", tweak: b=>b.Filter("Title", "Good Omens"))>
  <h3><code>Data</code> button with <em>string</em> <code>filter</code> (tweak) </h3>
  <p>This will find all books with the title <em>Good Omens</em></p>
</div>

<div class="alert alert-light" @Kit.Toolbar.Empty().Data("Books", filter: "Title=Good Omens")>
  <h3><code>Data</code> button with <em>string</em> <code>filter</code> </h3>
  <p>This will find all books with the title <em>Good Omens</em></p>
</div>

<div class="alert alert-light" @Kit.Toolbar.Empty().Data("Books", filter: new { Title = "Good Omens" })>
  <h3><code>Data</code> button with <em>object</em> <code>filter</code> </h3>
  <p>This will find all books with the title <em>Good Omens</em></p>
</div>