@inherits Custom.Hybrid.RazorTyped
@{/*!*/
  var tlbControl = GetCode("/Shared/ToolbarHelpers.cs");
  tlbControl.ToolbarsAutoShowStart(Kit.Toolbar);
/*!*/}
@{
  var toolbarWithInfoAndNotes = Kit.Toolbar.Empty()
    .Info(link: "https://www.2sxc.org/", 
    tweak: b=>b.Note("This is a post-it info. Click to visit 2sxc.org", 
      background: "yellow"))
    .New(tweak: b=>b.Note("This is a cool note"))
    .For(MyItem); 
}
<div class="alert alert-light" @toolbarWithInfoAndNotes>
  <h3>New syntax (tweak):
     Button with SVG Icon 
  </h3>
</div>
@{/*!*/
  tlbControl.ToolbarsAutoShowEnd(Kit.Toolbar);
/*!*/}
