@inherits Custom.Hybrid.Razor12
<div class="alert alert-light" 
  @Edit.TagToolbar(Content, toolbar: new[] { "%delete&show=true"})>
  <h3>Always show <code>Delete</code></h3>
  <p>Note that you'll have to hit the 
    ellipsis a few times to see it.
  </p>
</div>
