@inherits Custom.Hybrid.RazorTyped
@*!
Tut.Tabs=file:./js/toolbar-workflow.js
!*@
@{
  var standardToolbar = Kit.Toolbar.Empty().New("UiEmptyHelloWorld").Settings(show: "always");
}
<div class="alert alert-primary" style="width: 100%;">
  <div id='tagWithToolbar' @standardToolbar>
    Float over this box to get a (+) button. 
    When you click it and close the dialog again, the page will <em>not refresh</em>. <br>
    Instead, you'll see console messages that a custom JS took over the process.
  </div>
</div>

@* This tutorial uses turnOn, see turnOn tutorials *@
@Kit.Page.TurnOn("window.toolbarWorkflow.initOnTagToolbar()", data: new {
  data = "tagWithToolbar"
})

<script src="@App.Folder.Url/tutorials/ui-workflows/js/toolbar-workflow.js" @Kit.Page.AssetAttributes()></script>
