@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@using System.Linq;
@using ToSic.Eav.DataSources;
@{/*! Tut.Tabs=ViewConfig */
	var viewCnf = DynamicModel.Tutorial.ViewConfig;
	var Content = AsDynamic(viewCnf.Content(query: "GetQueryDemoAuthorsSorted") as ToSic.Eav.DataSource.IDataSource);
/*!*/}
@{
  var queryNoParams = Kit.Data.GetQuery("GetQueryDemoAuthorsSorted");
}
<h3>List of Persons from the DataSource</h3>
<ul>
  @foreach (var person in AsList(queryNoParams)) {
    <li>
      @person.FirstName @person.LastName
    </li>
  }
</ul>