@inherits Custom.Hybrid.RazorTyped
@{ var Sys = GetCode("/shared/Helpers.cs").Init(this); }


@* UniqueKey / Kit.Key.UniqueKeyWith *@
@{ var qref = Sys.SourceCode.QuickRef(item: MyModel.Item("Item")); }
@qref.SnipStart()
  @{
    var books = AsItems(App.Data["Books"]);
  }
  <ol>
    @foreach(var book in books) {
      <li>
        Title: <code>@book.Title</code> - UniqueKey: <code>@Kit.Key.UniqueKeyWith(book)</code>
      </li>
    }
  </ol>
@qref.SnipEnd()