@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;

@{
  var sample1 = "We love Tokyo, Z&uuml;rich &amp; M&uuml;nchen";
  var realLength = 31;
}
<table class="table table-hover table-sm">
<!-- headers -->
<tr>
    <th></th>
    <th><em>Using C# Method</em></th>
    <th colspan="2"><em>Razor Blade</em></th>
</tr>
<tr>
    <th>Len</th>
    <th>C# Substring</th>
    <th>Text.Crop(...)</th>
    <th>Text.Ellipsis(...)</th>
</tr>
<!-- the code --> 
@for(var len = 1; len <= 32; len++) {
  <tr>
    <td>@len</td>
    <td>@sample1.Substring(0, len)...</td>
    <td>@Html.Raw(Text.Crop(sample1, len))</td>
    <td>@Html.Raw(Text.Ellipsis(sample1, len))</td>
  </tr>
      }
</table>