@inherits Custom.Hybrid.Razor14
@{/*! Tut.Tabs=file:../../api/BooksController.cs */
/*!*/}
<button type="button" class="btn btn-primary" onclick="getPersons(this)">
  Get Persons Custom
</button> 
  @*! 2sxclint:disable:no-inline-script !*@
<script>
  function getPersons(moduleContext) {
    $2sxc(moduleContext).webApi.fetchJson('books/persons')
      .then(function(data) {
        alert('Found ' + data.length + ' persons. \n'
          + 'The first one is "' + data[0].FirstName + ' ' + data[0].LastName + '"\n\n'
          + 'The raw JSON: \n' + JSON.stringify(data)
        );
      });
  }
</script>