@inherits Custom.Hybrid.RazorTyped
@{ var Sys = GetCode("/shared/Helpers.cs").Init(this); }


@{ var qref = Sys.SourceCode.QuickRef(item: MyModel.Item("Item"), tabs: "file:../../reuse/line.cshtml" ); }
@qref.SnipStart()
  <h4>Call some external Razor files</h4>
  <ol>
    <li>@Html.Partial("../../reuse/line.cshtml")</li>
    <li>@Html.Partial("../../reuse/line.cshtml")</li>
  </ol>
@qref.SnipEnd()