@inherits Custom.Hybrid.RazorTyped
@*!
Tut.Tabs=file:../../razor/partial/line.cshtml.cshtml
!*@
<h4>Call some external Razor files</h4>
<ol>
  <li>@Html.Partial("../../razor/partial/line.cshtml")</li>
  <li>@Html.Partial("../../razor/partial/line.cshtml")</li>
</ol>