@inherits Custom.Hybrid.RazorTyped
@*!
Tut.Tabs=file:../../reuse/line.cshtml
!*@
<h4>Call some external Razor files</h4>
<ol>
  <li>@Html.Partial("../../reuse/line.cshtml")</li>
  <li>@Html.Partial("../../reuse/line.cshtml")</li>
</ol>