@inherits Custom.Hybrid.Razor12
@{
  var helper = CreateInstance("Helpers.cs");
  var formulas = helper.GetFormulas(DynamicModel.ContentItem, DynamicModel.FieldName);
}

<div>
  <h3>Formulas of <code>@(AsEntity(DynamicModel.ContentItem).Type.Name).@DynamicModel.FieldName</code></h3>
  <ul>
    @foreach (var formula in formulas)
    {
      <li>
        <p><strong>@formula.Title</strong></p>
        <p class="mb-2">Target: @formula.Target</p>
        <p class="mb-1"><strong>Formula</strong><p>
        @Html.Partial("../shared/_result.cshtml", new { Result = formula.Formula, Language = "javascript", Size = 100 })
      </li>
    }
  </ul>
</div>