@inherits Custom.Hybrid.Razor14

<div class="alert alert-success">
  <strong>Important: Now using Formulas V2 🆕 in 2sxc 16</strong>
  <br>
  Formulas V2 has intellisense, stoppability, support for promises and more.
</div>