@inherits Custom.Hybrid.Razor12

<div class="alert alert-warning">
  This tutorial doesn't exist for <code>Pre12</code>. 
  The feature probably works but it's a very old API.
  <br>
  <strong>Consider upgrading to a newer version of the API.</strong>
</div>
