@inherits Custom.Hybrid.Razor12
@{
  var hlp = CreateInstance("../shared/Helpers.cs");
  var viewMd = AsDynamic((CmsContext.View.Metadata.OfType(hlp.TutViewMetadataType) as IEnumerable<dynamic>).FirstOrDefault());
}

<trim>
<div class="row">
  <div class="col-lg-7">
    <h2>Settings in 2sxc 🆕<em> in 12.03</em></h2>
    <p>
      Settings allow your code to use predefined settings across all apps and sites.
      And they allow you to overide a setting at any level of the application. 
      You can read more about the <a href="https://r.2sxc.org/settings" target="_blank">settings in the docs 📕</a>.
    </p>
  </div>
  <div class="col-lg-5">
    @Html.Partial("../shared/_InfoSection.cshtml", new { Data = viewMd.Specs.Requirements, Title = "Requirements", Icon = "fa-exclamation-circle" })
    @Html.Partial("../shared/_InfoSection.cshtml", new { Data = viewMd.Specs.Resources, Title = "Resources" })
  </div>
</div>
</trim>