@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade
@{
  // Resize settings for the cover images
  var flatSettings = Kit.Image.Settings(width: 100, height: 300, resizeMode: "max", scaleMode: "both");
}
<ul>
  @foreach (var book in AsItems(App.Data.GetStream("Books"))) {
    <li class="mb-4">
      <div style="overflow: auto">
        @if (book.IsNotEmpty("Cover")) {
          @book.Picture("Cover", settings: flatSettings, imgClass: "float-start pe-4")
        }
        <strong>@book.Title</strong> <br>
        @Text.Ellipsis(book.String("Teaser"), 100, suffix: "…")
      </div>
    </li>
  }
</ul>