
@RenderPage("../shared/_title.cshtml", new { Title = "Basic Tutorials" })
<span style="float: right">
  <a href="#" onclick="$2sxc(this).manage.run('template-develop')">
    View Source
  </a>
</span>
@RenderPage("../shared/_breadcrumb.cshtml", new { Topic = "Basics", TopicKey = "basics/home"})
<hr>