@inherits Custom.Hybrid.RazorTyped
@*!
TutXXX.Tabs=file:./js/test.js
!*@
@functions {
  string Boolmoji(bool value) { return value ? "✔️" : "❌"; }
}
<ul>
  <li>Boolmoji(true) ⇒ @Boolmoji(true)</li>
  <li>Boolmoji(false) ⇒ @Boolmoji(false)</li>
</ul>
