@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@*!
Tut.Tabs=file:../../shared/SharedFunctions.cs
!*@
@{
  // Use CreateInstance in Razor12 and Razor14
  var lib = CreateInstance("../../shared/SharedFunctions.cs");
}
<div>Hello from lib: @lib.SayHello()</div>
<div>
  <img loading="lazy" src='@lib.QrPath("https://2sxc.org")' width="75px">
</div>
