@inherits Custom.Hybrid.RazorTyped
@using AppCode.Helpers
@*!
Tut.Tabs=file:/AppCode/Helpers/QrHelper.cs
!*@
@{
  var powerLib = GetService<QrHelper>(); // GetCode("FunctionsWithContext.cs");
}
<div>
  <img loading="lazy" src='@powerLib.QrPath("https://2sxc.org")' width="75px">
</div>
