@inherits Custom.Hybrid.RazorTyped
@using AppCode.Helpers

@{
  var powerLib = GetService<QrHelper>(); // GetCode("FunctionsWithContext.cs");
}
<div>
  <img loading="lazy" src='@powerLib.QrPath("https://2sxc.org")' width="75px">
</div>
