@inherits Custom.Hybrid.Razor14
@*!
Tut.Tabs=file:../../shared/FunctionsBasic.cs
!*@
@{
  var lib = CreateInstance("../../shared/FunctionsBasic.cs");
}
<div>Hello from FunctionsBasic: @lib.SayHello()</div>
