@inherits Custom.Hybrid.RazorTyped
@*!
Tut.Tabs=file:./FunctionsWithContext.cs
!*@
@{
  var powerLib = GetCode("FunctionsWithContext.cs");
}
<div>
  <img loading="lazy" src='@powerLib.QrPath("https://2sxc.org")' width="75px">
</div>
