@inherits Custom.Hybrid.RazorTyped
@*!
Tut.Tabs=file:../../shared/FunctionsBasic.cs
!*@
@{
  var lib = GetCode("../../shared/FunctionsBasic.cs", className: "Second");
}
<div>Hello from FunctionsBasic: @lib.SayHello()</div>
