@inherits Custom.Hybrid.RazorTyped
@using AppCode.Extensions.HelloWorld
@*!
Tut.Tabs=\AppCode\Extensions\HelloWorld\HelloWorldDataSource.cs|file:../../AppCode/Extensions/HelloWorld/HelloWorldDataSource.cs,
Extensions\hello-world-datasource\App_Data\extension.json |file:../../extensions/hello-world-datasource/App_Data/extension.json 
!*@
<h3>Hello World Example</h3>

@{
    var helloDs = Kit.Data.GetSource<HelloWorldDataSource>();

    var helloWorld = AsItem(helloDs);
}

@if (helloWorld == null)
{
    <p>No data available</p>
    return;
}

<ul>
    <li>
        <strong>Message:</strong> @helloWorld.String("Message");
    </li>
</ul>