@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade;
@using System.Linq;
@using ToSic.Eav.DataSources;
@{
  var dsWithOptions = Kit.Data.GetSource(name: "FactoryOptions");
}
<h3>Data in the DataSource (@dsWithOptions.List.Count())</h3>
<ul>
  @foreach (var item in AsItems(dsWithOptions)) {
    <li>
      <strong>@item.Title</strong> (id: @item.Id, type: @item.EntityType)
    </li>
  }
</ul>