@inherits AppCode.Razor.AppRazor<VariantSelectorModel>
@using ToSic.Razor.Blade
@using AppCode.TutorialSystem
@using AppCode.TutorialSystem.Razor
@{
  var variantButtons = GetService<VariantsService>().GetVariantButtons(Model.Variants, Model.Current);
}
<!-- Variants: @Model.Variants -->
<div class="alert alert-info">
  The samples can differ based on your Razor base class or if you're running an old version. <br>
  @foreach (var btn in variantButtons) {
    <a class="@btn.Classes" href="@btn.Link">@btn.Label</a>
  }
</div>
