@inherits Custom.Hybrid.Razor14
@*!
Tut.Tabs=file:json/cities.json
!*@
@{
  // Variables for the tests
  string jsonRoot = App.PhysicalPath + "/json/quickref/json";

  // Simple JSON strings which could come from a file or web service
  var jCities = System.IO.File.ReadAllText(jsonRoot + "/cities.json");

  // Convert the JSON to ITyped
  var cities = AsDynamic(jCities);
}
<ol>
  @foreach (var city in cities) {
    <li>Name: <code>@city.Name</code></li>
  }
</ol>
