@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@{/*! Tut.Tabs=Generated HTML,ViewConfig */
  var tutCode = DynamicModel.Tutorial;
  var Content = AsDynamic(tutCode.SimulateViewContent(type: "ImgDemoData", nameId: "car-oldtimer") as object);
/*!*/}
@{
  var fallbackAltText = "Fallback";
  var imageFieldWithAltText = Content.Field("Image");
  var optimalAltText = Text.First(imageFieldWithAltText.Metadata.Description, fallbackAltText);
}
<div>
  <p><strong>Image with optimal alt text (@optimalAltText)</strong></p>
  <div style="width: 25%;">
    @Kit.Image.Picture(imageFieldWithAltText, imgAltFallback: optimalAltText)
  </div>
</div>
@{/*!*/
  var resultHtml = Kit.Image.Picture(Content.Field("Image"), imgAltFallback: optimalAltText);
  DynamicModel.SnippetSection.SetTabContents("html-img:" + resultHtml);
/*!*/}