@inherits Custom.Hybrid.Razor14
@{/*! Tut.Tabs=Generated HTML Left,Generated HTML Right,ViewConfig */
  var viewCnf = DynamicModel.Tutorial.ViewConfig;
  var Content = AsDynamic(viewCnf.Content(type: "ImgDemoData", nameId: "car-oldtimer") as object);
/*!*/}
<div class="row">
  <div class="col-md">
    <p><strong>Picture default recipe</strong></p>
    @* Picture using all the defaults *@
    @Kit.Image.Picture(Content.Field("Image"))
  </div>
  <div class="col-md">
    <p><strong>Picture with variants for 2x and 3x of the image size</strong></p>
    @{
      var customRecipe = Kit.Image.Recipe("2*, 3*");
    }
    @* Picture using recipe with 2x and 3x variants *@
    @Kit.Image.Picture(Content.Field("Image"), recipe: customRecipe)
  </div>
</div>
@{/*!*/
  DynamicModel.SnippetSection.SetTabContents(
    "html-img:" + Kit.Image.Picture(Content.Field("Image")),
    "html-img:" + Kit.Image.Picture(Content.Field("Image"), recipe: customRecipe)
    );
/*!*/}
