@inherits Custom.Hybrid.Razor14
@{/*! Tut.Tabs=file:../../api/BooksController.cs */
/*!*/}
<button type="button" class="btn btn-primary" onclick="getBooks(this)">
  Get Books Custom
</button>
  @*! 2sxclint:disable:no-inline-script !*@
<script>
  function getBooks(moduleContext) {
    $2sxc(moduleContext).webApi.fetchJson('books/books')
      .then(function(results) {
        alert('Found ' + results.length + ' books. \n'
          + 'The first one is "' + results[0].Title + '"\n\n'
          + 'The raw JSON: \n' + JSON.stringify(results)
          );
      });
  }
</script>