@using ToSic.Razor.Blade;
@inherits Custom.Hybrid.Razor14
<hide>
  @* Sys must always be an exact copy of this line, so that we could search/replace *@
  @{ var Sys = GetCode("/shared/Helpers.cs").Init(this); }
  @Html.Partial("header.cshtml", new { Sys = Sys })
</hide>

<div class="row">
  <img loading="lazy" src="@App.Path/turn-on/assets/turn-on.svg" class="img-responsive col-md-7 mb-2">
  @Html.Partial("../shared/DefaultInfoSection.cshtml") 
</div>

<p>
  Learn how to execute JavaScript functions using the 2sxc turnOn. Extend basic usage by passing data, awaiting conditions and more.
  <br>
</p>


@* Footer *@
@Html.Partial("../Shared/Layout/FooterWithSource.cshtml", new { Sys = Sys })