@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;
<hide>
@Html.Partial("_header.cshtml")
@{  
  var hlp = CreateInstance("../shared/Helpers.cs"); 
  var scriptPath = "/Portals/tutorial-razor/2sxc/Tutorial-Razor/turn-on/_100-js-example.js";
}
</hide>
<trim>
  <h2>Activate turnOn and execute basic tasks</h2>
  <div>
    This page activates turnOn and executes a JavaScript function on initial loading.
    Look at the text below to see the effect. 
  </div>
</trim>
<hide>
  <hr>
</hide>

@{
  var page = GetService<ToSic.Sxc.Web.IPageService>();
  // activate the turnOn feature
  page.Activate("turnOn");
}

<div id="turn-on-example">turnOn hasn't been executed yet. 😔</div>

@* Executes the JavaScript function window.razorTutorial.init() from the included script file *@
<turnOn turn-on='{ "run": "window.razorTutorial.init()" }'></turnOn>

<script src="@scriptPath"></script>

<hide>
@Html.Partial("../shared/_source-code.cshtml", new { Path }) 
@Html.Partial("../shared/_source-code.cshtml", new { Path = scriptPath }) 
</hide>