@inherits Custom.Hybrid.Razor14
@using System.Linq;
@{/*! Tut.Tabs=ViewConfig */
  var viewCnf = DynamicModel.Tutorial.ViewConfig;
  var Data = viewCnf.Query(query: "QuickRef-Persons-Selected") as ToSic.Eav.DataSource.IDataSource;
/*!*/}
@{
  var selected =  AsDynamic(Data.GetStream("Selected").FirstOrDefault());
}
<div>
  Selected: @selected.FirstName @selected.LastName
</div>
<ul>
  @foreach (var person in AsList(Data)) {
    <li>
      @person.FirstName @person.LastName
      @if (person.EntityId == selected.EntityId) {
        <strong>(selected ⭐)</strong>
      }
    </li>
  }
</ul>
