@inherits Custom.Hybrid.Razor14
@{
  var hlp = CreateInstance("../shared/Helpers.cs"); 
  // Plase this message in a variable, so our quality checks don't trigger a warning
  // The # and if must not be directly connected in the source, as that triggers the warning
  var ifNetStandard = "#" + "if " + "NETSTANDARD";
  // IMPORTANT: the text in the tut-link is split into "#" + "if" to prevent warnings in our quality message
}
<hr>
<div class="alert alert-info" role="alert">
  <h5>Note about Hybrid WebAPIs</h5>
  These examples are all done to work in both Dnn ☢️ and Oqtane 💧. 
  Because of this, the Api Controller have special conditional statements like <code>@ifNetStandard</code> which uses different namespaces in .net core and .net Framework. 
  <br>
  If you only target Dnn <em>or</em> Oqtane, you can remove the lines you don't need.  
  See @hlp.TutLink("See how to use #" + "if", "hybrid410/page")
</div>
