@inherits Custom.Hybrid.Razor14

<div class="alert alert-success">
  <strong>Important: WebApi using <code>[JsonFormatter]</code> 🆕 in 2sxc 16</strong>
  <br>
  The <code>[JsonFormatter]</code> has a few effects.
  It auto-defaults to camelCase (but you can modify this if you need to preserve casing).
  It will also auto-convert entities to a standard JSON format.
</div>