@inherits Custom.Hybrid.RazorTyped
@{ var Sys = GetCode("/shared/Helpers.cs").Init(this); }


@{ var qref = Sys.SourceCode.QuickRef(item: MyModel.Item("Item")); }
@qref.SnipStart()
  @{
    // Get a query to be executed when accessed
    // It has 2 streams: Default and Authors
    var query = App.GetQuery("QuickRef-GetQuery");
  }
  <h4>Get Books from the <code>Default</code> stream</h4>
  <ol>
    @foreach(var book in AsItems(query)) {
      <li>@book.Title</li>
    }
  </ol>

  <h4>Get Authors from the <code>Authors</code> stream</h4>
  <ol>
    @foreach(var author in AsItems(query.GetStream("Authors"))) {
      <li>@author.Title</li>
    }
  </ol>
@qref.SnipEnd()
