@inherits Custom.Hybrid.Razor14
@*!
Tut.Tabs=file:./json/dude.json
!*@
@{
  // Variables for the tests
  string jsonRoot = App.PhysicalPath + "/tutorials/json-quickref/json";

  // Simple JSON strings which could come from a file or web service
  var jDude = System.IO.File.ReadAllText(jsonRoot + "/dude.json");

  // Convert the JSON to ITyped
  var dude = AsDynamic(jDude);
}
<ol>
  <li>
    <code>name</code>: @dude.Name
  </li>
  <li>
    <code>NAME</code> (insensitive): @dude.NAME
  </li>
</ol>
