@inherits Custom.Hybrid.RazorTyped
@using System.Linq;

@{
  var persons = AsItems(App.Data.GetStream("Persons"));
}
<ol>
  @foreach (var person in persons
    .OrderBy(p => p.Id)) 
  {
    <li>@person.Get("FirstName") 
      @person.Get("LastName") (#@person.Id)
    </li>
  }
</ol>