@inherits Custom.Hybrid.Razor14
@using System.Linq;

@{
  var persons = AsList(App.Data["Persons"]);
}
<ol>
  @foreach (var person in persons
    .OrderByDescending(p => p.Birthday)) 
  {
    <li>@person.FirstName @person.LastName 
      (@person.Birthday.ToString("d"))
    </li>
  }
</ol>