@using ToSic.Razor.Blade;
<hide>
@RenderPage("_header.cshtml")
</hide>
<trim>
  <h2><em>RazorBlade</em> Fluent Tag API <code>@@Tag.Img().Src(...)</code> <em>v3</em></h2>
  <div>
    One of the magic bits of the Html5 tags is that they are smart. For example, url properties like <code>Src()</code> or <code>Href()</code> will safely encode if they are not yet encoded. 
    This is super important for CMS solutions where the image file may easily contain umlaut characters or spaces.
  </div>
</trim>
@{
  var kaizenUrl = "改善.png";
}

<hr>
This file is called @kaizenUrl <br>
@Tag.Img().Src(App.Path + "/blade/assets/tag-img/" + kaizenUrl)

<hide>
@RenderPage("../shared/_source-code.cshtml", new { Path = VirtualPath }) 
</hide>