@inherits Custom.Hybrid.Razor12
@{
  var hlp = CreateInstance("../shared/Helpers.cs"); 
}
<div class="alert alert-warning" role="alert">
  <h3>
    ⚠️ WARNING: These examples <em>only work in Dnn</em> ☢
  </h3>
  2sxc 12 introduces the new <code>PageService</code> which also works in Oqtane 💧. 
  We suggest you use that instead. See @hlp.TutLink("Razor Page Service", "page/home")
</div>
