@inherits Custom.Hybrid.RazorTyped

@{
  var rzr = GetCode("RazorbladeVersion.cs");
  var version = rzr.VersionDouble();
}
<div class="alert alert-primary" role="alert">
  Your RazorBlade version is @Kit.Convert.ForCode(version) - which is what you need for all these tutorials. 
</div>
