@inherits Custom.Hybrid.Razor14
@{/*! Tut.Tabs=ViewConfig */
  var viewCnf = DynamicModel.Tutorial.ViewConfig;
  viewCnf.Query("QuickRef-GetQuery");
/*!*/}
<h3>
  Does not exist in Razor14 and before
</h3>
<p>
  Queries with Parameters in Code do not exist in older versions of Razor.
</p>