@inherits Custom.Hybrid.RazorTyped
@{
  // Sys helps generate code snippets etc.
  var Sys = GetCode("/shared/Helpers.cs").Init(this);
  dynamic qref;
}

@((qref = Sys.SourceCode.QuickRefSplit33(tabs: new Dictionary<string, string> {
  { "Source JS1", "file:js/report-loaded-in-console-path-app.js" },
  { "Source JS2", "file:js/report-loaded-in-console-path-view.js" },
})).SnipStart())
  <p>
    Load a JavaScript relative to the App folder (see message/console): <br>
    <strong id="loadjs-app-message"></strong>
  </p>
  <script src="@App.Folder.Url/quick-reference/js/js/report-loaded-in-console-path-app.js"></script>

  <p>
    Load a JavaScript relative to the folder of this Razor file (see message/console): <br>
    <strong id="loadjs-view-message"></strong>
  </p>
  <script src="@MyView.Folder.Url/js/js/report-loaded-in-console-path-view.js"></script>
@qref.SnipEnd()
