@inherits Custom.Hybrid.Razor14
<h3>NON .net Core code = Dnn ☢</h3>
<p>
  On Dnn you'll see this because <code>CmsContext.Platform.Name</code> was <code>Dnn</code>. <br>

  Here you can also place code which only compiles in DNN, like: 
  PortalId = @DotNetNuke.Entities.Portals.PortalSettings.Current.PortalId
</p>