@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade;

@{
  var exampleClasses = "<div class='remove-me not-allowed'><strong class='not-allowed'>No</strong> classes allowed</div>";
}
<div>
  <strong>Scrub all classes from source: </strong>
  <code>@Kit.Scrub.Classes(exampleClasses)</code>
</div>


