@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade

@{
  var exampleTagsExcept = "<div><h2><span>The cool title</span></h2></div>"; 
}
<div>
  <strong>Scrub tags except one tag: </strong>
  <code>@Kit.Scrub.Except(exampleTagsExcept, "h2")</code>
</div>
<div>
  <strong>Scrub tags except multiple tags: </strong>
  <code>@Kit.Scrub.Except(exampleTagsExcept, new string[] 
    { "div", "span" })
  </code>
</div>