@inherits Custom.Hybrid.RazorTyped
@using AppCode.Data
@using AppCode.Tutorial
@using AppCode.TutorialSystem.Razor

<h1>Manage Tutorials</h1>
<p>
  This is an overview over all tutorials / snippets to better manage them and keep an overview.
</p>
@if (!MyUser.IsSiteAdmin) {
  <div class="alert alert-warning">
    This is only for site admins. Log on to see more.
  </div>
  return;
}

@{
  var homeList = App.Data.GetAll<TutorialSequence>().First();
  var sectionsInHome = homeList.Sections;
  var allTutGroups = App.Data.GetAll<TutorialGroup>();
}

<ol>
  @foreach(var sect in sectionsInHome) {
    <li>
      <strong>
        Section: @sect.String("Title", scrubHtml: true)  (@sect.Id | #@sect.Title | @sect.NameId)
      </strong>
      @if (sect.IsNotEmpty(nameof(sect.TutorialGroups))) {
        <ul>
          @foreach (var tg in sect.TutorialGroups) {
            <li>
              @Html.Partial("./Part TutorialGroupContents.cshtml", new ManageGroupModel { TutorialGroup = tg, Recursion = 0 })
            </li>
          }
        </ul>
      }
    </li>
  }
</ol>
