@inherits Custom.Hybrid.RazorTyped<IHasNotes>
@using ToSic.Sxc.Data
@using AppCode.Data

@if (@Model.Notes.Any()) {
  return;
}

<ol>
  @foreach (var note in Model.Notes) {
    <li>
      📒 TutorialNote: @note.Title (@note.NameId))
    </li>
  }
</ol>
