@inherits Custom.Hybrid.Razor14
@*!
Tut.Tabs=file:../../api/VerifiedController.cs

2sxclint:disable:no-inline-script
!*@
@* Make sure anonymous users have the 2sxc JS API *@
@Kit.Page.Activate("2sxc.JsCore")

<button type="button" class="btn btn-primary" onclick="showHeaders(this)">Default headers</button>
<button type="button" class="btn btn-primary" onclick="showHeaders(this, 'GET')">Headers for GET</button>
<button type="button" class="btn btn-primary" onclick="showHeaders(this, 'POST')">...for POST</button>
<button type="button" class="btn btn-primary" onclick="showHeaders(this, 'PUT')">...for PUT</button>

<script>
function showHeaders(moduleContext, optionalVerb) {
  var headers = $2sxc(moduleContext).webApi.headers(optionalVerb);
  alert('These are the headers used if the verb is "' + (optionalVerb ?? '') + '":\n' 
    + JSON.stringify(headers, null, 2));
}
</script>