@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;

@{
  // Initial Code
  // demo of path with umlauts and japanese characters
  var kaizenUrl = "überschrift-small.png?name=改善";
  var path = App.Path + "/blade/assets/tag-img/";
  var kaizenFullPath =  path + kaizenUrl;
  var kaizenFullHd = kaizenFullPath.Replace("small", "large");
}

@Tag.Img().Src(kaizenFullPath)

@Tag.Img().Srcset(kaizenFullPath, 1).Srcset(kaizenFullHd, 2)

<div>
@* Source Code Html *@
  <code>@Tag.Img().Src(kaizenFullPath).ToString()</code>
</div>

