@inherits Custom.Hybrid.Razor14
<ul>
  <li>
    @{ var colorPri = Settings.Get("PrimaryColor"); }
    <div style='background-color: @colorPri' class="color-box"></div>
    &nbsp; Settings.PrimaryColor <br>
    @colorPri
  </li>
  <li>
    @{ var colorSec = Settings.Get("SecondaryColor"); }
    <div style='background-color: @colorSec' class="color-box"></div>
    &nbsp; Settings.SecondaryColor <br>
    @colorSec
  </li>
  <li>
    Settings.Tiles <br>
    (for example to configure images side-by-side):
    @Settings.Tiles
  </li>
</ul>

<style> .color-box { width: 20px; height: 20px; float: left; } </style>