@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade

<ol>
  <li>
    <code>.Id</code> of the current view: <strong>@MyView.Id</strong>
  </li>
  <li>
    <code>.Edition</code> of the current view: <strong>@MyView.Edition</strong>
    (Get information about the edition used or return an empty string)
  </li>
  <li>
    <code>.Identifier</code> of the view: <strong>@MyView.Identifier</strong>
    <br>
    An optional identifier which the View configuration can provide. 
    Use this when you want to use the same template but make minor changes based on the View selected (like change the number of columns). 
    Usually you will use either this OR the Settings: 
  </li>
  <li>
    <code>.Name</code> of the view <code>@MyView.Name</code>
    <br>
    Name of the view as configured - note that because of i18n it could be different depending on the language. 
    To clearly identify a view, use the Identifier or use Settings: 
  </li>
</ol>