@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade

<ol>
  <li>
    <code>.CurrentCode</code> Current code culture is: <strong>@MyContext.Culture.CurrentCode</strong>
  </li>
  <li>
    <code>.DefaultCode</code>
    @if (Text.Has(MyContext.Culture.DefaultCode)) {
      <strong>@MyContext.Culture.DefaultCode</strong>
    } else {
      <p>
        The system is single language and the response is an empty string.
      </p>
    }
  </li>
</ol>