@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade

@{ var currentPageUrl = Link.To(parameters: MyPage.Parameters); }
<ol>
  <li><a href='@Link.To()'>Link to current page <em>without</em> Parameters: @Link.To()</a></li>
  <li><a href='@currentPageUrl'>Link to current page preserving parameters @currentPageUrl</a></li>
</ol>
