@inherits Custom.Hybrid.RazorTyped

<ol>
  <li>
    <code>.Name</code> Current platform name is: <strong>@MyContext.Platform.Name</strong>
  </li>
  <li>
    <code>.Type</code> Current platform type is: <strong>@MyContext.Platform.Type</strong>
  </li>
  <li>
    <code>.Version</code> Current platform version is: <strong>@MyContext.Platform.Version</strong>
  </li>
</ol>