@inherits Custom.Hybrid.RazorTyped
@*!
Tut.Tabs=Color-index.js|file:/system/field-empty-app-hello-world/index.js
!*@
<p>
  Hit this edit button to have a look:
  @Kit.Toolbar.Empty().New("UiEmptyHelloWorld").AsTag()
</p>
