@inherits Custom.Hybrid.RazorTyped
@*!
Tut.Tabs=file:/system/field-string-app-color-picker-spectrum-pro/index.js,Config JSON of Field|file:/system/field-string-app-color-picker-spectrum-pro/App_Data/system/contenttypes/System.Fields.459d4ce3-b96b-4664-9947-75e46df9d33e.json
!*@
<p>
  This example shows a real string-field uses <a href="https://about.asika.tw/spectrum-vanilla/">Picker Spectrum</a> to provide a color picker. <br>
  Hit this edit button to have a look:
</p>
@Kit.Toolbar.Empty().New("UiStringColorPickerSpectrumPro").AsTag()
