@inherits Custom.Hybrid.RazorTyped
@using System.Collections;
@*!
Tut.Tabs=file:../../system/field-empty-app-hello-world/index.js
!*@
<p>
  Hit this edit button to have a look:
  @Kit.Toolbar.Empty().New("UiEmptyHelloWorld").AsTag()
</p>
