@inherits Custom.Hybrid.RazorTyped
@*!
Tut.Tabs=file:/system/field-string-app-color-picker-spectrum-pro/index.js
!*@
<p>
  This example shows a real string-field uses <a href="https://about.asika.tw/spectrum-vanilla/">Picker Spectrum</a> to provide a color picker. <br>
  Hit this edit button to have a look:
</p>
@Kit.Toolbar.Empty().New("UiStringColorPickerSpectrumPro").AsTag()
