@inherits Custom.Hybrid.RazorTyped
@*!
Tut.Tabs=file:/system/field-string-app-color-pickr/index.js
!*@
<p>
  This example shows a real string-field uses Pickr to provide a color picker. <br>
  Hit this edit button to have a look:
</p>
@Kit.Toolbar.Empty().New("UiStringColorPickr").AsTag()