@inherits Custom.Hybrid.RazorTyped
@*!
Tut.Tabs=file:/system/field-string-wysiwyg-micro/index.js
!*@
<p>
  This example shows a reduced WYSIWYG with only 4 buttons. <br>
  Hit this edit button to have a look: 
</p>
@Kit.Toolbar.Empty().New("UiStringWysiwygMicro").AsTag()
