@inherits Custom.Hybrid.RazorTyped
@using System.Collections;
@*!
Tut.Tabs=file:../../system/field-string-wysiwyg-button-ml/index.js
!*@
<p>
  This example keeps the default buttons and adds another one, with multi-language labels <br>
  Hit this edit button to have a look: 
</p>
@Kit.Toolbar.Empty().New("UiStringWysiwygButtonMl").AsTag()
