@inherits Custom.Hybrid.RazorTyped
@*!
Tut.Tabs=Color-Picker.js|file:/system/field-string-app-color-pickr/index.js,Config JSON of Field|file:/system/field-string-app-color-pickr-pro/App_Data/system/contenttypes/System.Fields.459d4ce3-b96b-4664-9947-75e46df9d33e.json
!*@
<p>
  This example shows two color-picker fields, with different initial configurations. <br>
  Hit this edit button to have a look: 
</p>
@Kit.Toolbar.Empty().New("UiStringColorPickrPro").AsTag()
