@inherits Custom.Hybrid.RazorTyped
@*!
Tut.Tabs=file:js/load-with-app-path.js,file:js/load-with-view-path.js
!*@
<p>
  Load a JavaScript relative to the App folder (see message/console): <br>
  <strong id="loadjs-app-message"></strong>
</p>
<script src="@App.Folder.Url/js/quickref/js/load-with-app-path.js"></script>

<p>
  Load a JavaScript relative to the folder of this Razor file (see message/console): <br>
  <strong id="loadjs-view-message"></strong>
</p>
<hide-silent>@*</hide-silent>
<script src="@MyView.Folder.Url/quickref/js/load-with-view-path.js"></script>
<hide-silent>*@</hide-silent>
<hide-silent>
  @* Note: this is a workaround, because we're demoing how to use the MyView
  but because of the setup of the tutorial, this file isn't actually a normal view *@
  <script src="@App.Folder.Url/js/quickref/js/load-with-view-path.js"></script>
</hide-silent>