@inherits Custom.Hybrid.RazorTyped
@{
  var Sys = MyModel.Code("Sys");
  var topicHome = MyModel.String("Topic");
  var topicUrl = MyModel.String("TopicUrl");
}

<a href='@Link.To()'>Tutorial Home</a>

@if (!string.IsNullOrEmpty(topicHome)) {
  <text> › </text>
  <a href='@Link.To(parameters: topicUrl.Replace("/", "="))'>@topicHome</a>
}