@inherits Custom.Hybrid.Razor12

<ul>
  @BoldLiDnnOnly(normalText)
  @BoldLiDnnOnly(htmlText)
  @BoldLiDnnOnly("this is just a bold line")
</ul>

@* Just FYI - this is the classic syntax not used in the example above 
   The following #if statements makes sure that .net core doesn't try to compile it, because it would throw an exception
*@
@helper BoldLiDnnOnly(string label) {
  <li>
    <strong>
      @Html.Raw(label)
    </strong>
  </li>
}
