@inherits Custom.Hybrid.RazorTyped
@using AppCode.Data
<h4>Use Item-Source with Template in another Item</h4>
@{
  // Get the template item
  var templateItem = App.Data.GetAll<ServiceTemplateHtml>().First();

  // Get the item to use as source
  var item = App.Data.GetAll<Persons>().First();
  var source = Kit.Template.CreateSource("Person", item);
  var engine = Kit.Template.Empty(sources: new [] { source });
}
<ul>
  <li>
    <strong>Template:</strong> <code>@templateItem.Template</code>
  </li>
  <li>
    <strong>Result:</strong>
    <br>
    <code>
    @engine.Parse(templateItem.Template)
    </code>
  </li>
  <li>
    <strong>Result Raw HTML using Html(..., tweak: ...)</strong>
    <br>
    @templateItem.Html("Template", tweak: t => t.Input(engine.Parse))
  </li>
</ul>