@inherits Custom.Hybrid.Razor14
@{
  var Sys = CreateInstance("../shared/Helpers.cs").Init(this);
  dynamic qref;
}

@((qref = Sys.SourceCode.QuickRefSplit(tutorials: new string[] { "basics210" }, outputW: 33)).SnipStart())
  @{
    const int old = 60;
    const string isOld = "this guy is old";
    const string notOld = "this guy is not old";
    var age = 62;
  }
  <p>
    Show old/not old based on Terry's age using
    <code>@@if</code> and <code>@@else</code>:
    @if (age > old) {
      @isOld
    } else {
      @notOld
    }
  </p>
  <p>
    Ternare show old/not old based on age <code>? ... : </code>:
    @(age > old ? isOld : notOld)
  </p>
@qref.SnipEnd()