@inherits Custom.Hybrid.Razor14
@{
  var Sys = CreateInstance("../shared/Helpers.cs").Init(this);
  dynamic qref;
}

  @((qref = Sys.SourceCode.QuickRef()).SnipStart())
  @functions {
    public class City {
      public string Name { get; set; }
      public int ZipCode { get; set; }
    }
  }
  @{
    var jCities = "[{\"name\": \"Buchs\", \"ZipCode\": 9470 }, {\"name\": \"Grabs\"}, {\"name\": \"Sevelen\" }]";

    // Convert the JSON to City
    var cities = Kit.Json.To<City[]>(jCities);
  }
  <ul>
    @foreach(var city in cities) {
      <li><code>@city.Name</code>: @city.ZipCode</li>
    }
  </ul>
  @qref.SnipEnd()