@inherits Custom.Hybrid.Razor14
@{ var Sys = CreateInstance("../shared/Helpers.cs").Init(this); }


<h3>Conditions (if/else)</h3>
@Sys.SourceCode.ResultRefStart("conditions")
  @{
    const int old = 60;
    const string isOld = "this guy is old";
    const string notOld = "this guy is not old";
    var age = 62;
  }
  <ol>
    <li>
      Show old/not old based on Terry's age using <code>@@if</code> and <code>@@else</code>:
      @if (age > old) {
        @isOld
      } else {
        @notOld
      }
    </li>
    <li>
      Show old/not old based on Terry's age using ternary <code>? ... : </code>:
      @(age > old ? isOld : notOld)
    </li>
  </ol>
@Sys.SourceCode.ResultRefEnd(new string[] { "basics210" })