@inherits Custom.Hybrid.RazorTyped

<p>
  This will create a div for the resulting message, based on the same <code>UniqueKey</code> which is <code>@UniqueKey</code>
</p>
<div id="@UniqueKey-demo-message"></div>
