@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@using System.Linq;
@{
  // Different query in DNN / Oqtane - eg. "SqlTop10FilesDnn"
  var queryName = "SqlTop10Files" + CmsContext.Platform.Name;

  // Get the query and ask for the "Default" results as a dynamic List
  var query = Kit.Data.GetQuery(queryName);
  var files = AsList(query);
}
<ol>
  @foreach (var file in files) {
  <li>
    @file.Name
  </li>
}
</ol>