@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@using System.Linq;
@{/*! Tut.Tabs=ViewConfig */
	var viewCnf = DynamicModel.Tutorial.ViewConfig;
	var Content = AsDynamic(viewCnf.Content(query: "SqlTop10Files" + MyContext.Platform.Name) as ToSic.Eav.DataSource.IDataSource);
/*!*/}
@{
  // Different query in DNN / Oqtane - eg. "SqlTop10FilesDnn"
  var queryName = "SqlTop10Files" + CmsContext.Platform.Name;

  // get the query and ask for the "Default" results as a dynamic List
  // This case doesn't set parameters, so we're using the defaults (current site)
  var query = Kit.Data.GetQuery(queryName);
  var currentFiles = AsList(query);
}
<ul>
  @foreach (var file in currentFiles) {
  <li>@file.Name</li>
}
</ul>