@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade;
@using System.Linq;
@{/*! Tut.Tabs=ViewConfig */
  var viewCnf = MyModel.Code("Tutorial").ViewConfig;
  var MyItem = AsItem(viewCnf.Content(query: "SqlTop10Files" + MyContext.Platform.Name) as ToSic.Eav.DataSource.IDataSource);
/*!*/}
@{
  // Get a fresh query, so we can use again with other parameters
  var queryName = "SqlTop10Files" + MyContext.Platform.Name;
  var rootFilesQuery = Kit.Data.GetQuery(queryName, parameters: new { 
    SiteId = MyContext.Platform.Name == "Dnn" ? 0 : 1
  });

  var rootFiles = AsItems(rootFilesQuery);
}
<ul>
  @foreach (var file in rootFiles) {
  <li>
    @file.Get("Name")
  </li>
}
</ul>