@inherits Custom.Hybrid.Razor14
@using System.Linq;
@{
  var hlp = CreateInstance("../shared/Helpers.cs"); 
  var viewMd = AsDynamic((CmsContext.View.Metadata.OfType(hlp.TutViewMetadataType) as IEnumerable<dynamic>).FirstOrDefault());

  if (viewMd == null || viewMd.Specs == null || viewMd.Specs.Count == 0) {
    return;
  }
}

<div class="col-lg-5">
  @if((viewMd.Specs.Requirements.Count > 0 && viewMd.Specs != null) || Request.IsAuthenticated){
    @Html.Partial("_InfoSection.cshtml", new { Parent = viewMd.Specs, Field = "Requirements", Data = viewMd.Specs.Requirements, Title = "Requirements", Icon = "fa-exclamation-circle" })
  }
  @if((viewMd.Specs.Resources.Count > 0 && viewMd.Specs != null) || Request.IsAuthenticated){
    @Html.Partial("_InfoSection.cshtml", new { Parent = viewMd.Specs, Field = "Resources", Data = viewMd.Specs.Resources, Title = "Resources" })
  }
  @if((viewMd.Specs.Related.Count > 0 && viewMd.Specs != null) || Request.IsAuthenticated){
    @Html.Partial("_InfoSection.cshtml", new { Parent = viewMd.Specs, Field = "Related", Data = viewMd.Specs.Related, Title = "Related" })
  }
</div>