@inherits Custom.Hybrid.Razor12
@using System.Linq;
@{
  var hlp = CreateInstance("../shared/Helpers.cs");
  var title = DynamicModel.Title;
  var name = DynamicModel.Name;
  var topicHomeLink = DynamicModel.Link;

  // Page Metadata - will create a toolbar for this
  var viewMd = hlp.TutViewMetadataType as string;
  var md = CmsContext.View.Metadata;

  // Metadata with new toolbar services
  var tlbSvc = GetService<ToSic.Sxc.Services.IToolbarService>();
  var newConfig = tlbSvc
    .Metadata(CmsContext.View, viewMd)
    .Metadata(CmsContext.View, "TutorialViewSharing")
    .Settings(hover: "left");
}

<div @Edit.TagToolbar(newConfig)>
  @if (DynamicModel.FeatureIconPath != null) {
    @hlp.AddFeatureLogo(DynamicModel.FeatureIconPath, DynamicModel.FeatureLink)
  }
  @hlp.TitleAndBreadcrumb(title, name, topicHomeLink)
</div>