@inherits Custom.Hybrid.Razor14
@using System.Linq;
@using ToSic.Razor.Blade;
@{
  var hlp = CreateInstance("../shared/Helpers.cs");
  var title = DynamicModel.Title;
  var name = DynamicModel.Name;
  var topicHomeLink = DynamicModel.Link;

  // Page Metadata - will create a toolbar for this
  var viewMdType = hlp.TutViewMetadataType as string;
  var viewMd = AsList(CmsContext.View.Metadata.OfType(viewMdType) as object).FirstOrDefault();

  // Metadata with new toolbar services

  var newConfig = Kit.Toolbar
    .Metadata(CmsContext.View, viewMdType)
    .Metadata(CmsContext.View, "TutorialViewSharing", parameters: "prefill:Title=" + Tags.Strip(viewMd.LinkTitle) + "&prefill:Description=" + Tags.Strip(viewMd.LinkTeaser))
    .Settings(hover: "left");

  @Html.Partial("../shared/_OpenGraphHeaders.cshtml");
}

<div @Edit.TagToolbar(newConfig) class="mb-2">
  @if (DynamicModel.FeatureIconPath != null) {
    @hlp.AddFeatureLogo(DynamicModel.FeatureIconPath, DynamicModel.FeatureLink)
  }
  @hlp.TitleAndBreadcrumb(title, name, topicHomeLink)
</div>