@inherits Custom.Hybrid.Razor12
@using System.Linq;
@{
  var hlp = CreateInstance("../shared/Helpers.cs");
  var title = DynamicModel.Title;
  var name = DynamicModel.Name;
  var topicHomeLink = DynamicModel.Link;

  // Page Metadata - will create a toolbar for this
  var sharingType = "SharingMetadata";
  var md = CmsContext.View.Metadata;
  var mdShareList = md.OfType(sharingType);
  var mdShare = mdShareList.Any() ? AsDynamic(mdShareList.First()) : null;

  // Metadata with new toolbar services
  var tlbSvc = GetService<ToSic.Sxc.Services.IToolbarService>();
  var newConfig = tlbSvc.Metadata(CmsContext.View, "SharingMetadata").Settings(hover: "left");
}

<div @Edit.TagToolbar(newConfig)>
  @hlp.TitleAndBreadcrumb(title, name, topicHomeLink)
</div>