@inherits Custom.Hybrid.Razor14
@*
  Info: documentation purpose only
  2sxclint:disable:v14-no-getservice
*@
@{
  var ServiceName = DynamicModel.ServiceName;
  var Service = DynamicModel.Service;
}
<div class="BaseClassInfo alert alert-info my-2">
  <h4>Info about the Base Class</h4>
    <p>This tutorial inherits from the <b>Custom.Hybrid.Razor14 </b> base class.</p>
    <p>This allows us to use <b>Kit.@ServiceName</b> to access @Service without having to use <b>GetService<></b></p>
</div>