@inherits Custom.Hybrid.Razor14
@{
  var hlp = CreateInstance("../shared/Helpers.cs");
  // Plase this message in a variable, so our quality checks don't trigger a warning
  // The # and if must not be directly connected in the source, as that triggers the warning
  var ifNetStandard = "#" + "if " + "NETSTANDARD";
  // IMPORTANT: the text in the tut-link is split into "#" + "if" to prevent warnings in our quality message
}
<div class="alert alert-info" role="alert">
  <h3>⚠️ Code Disabled in Oqtane 💧</h3>
  This code only works in DNN, so the tutorial has special conditional statements like <code>@ifNetStandard</code> which disable the code in Oqtane. 
  
  See @hlp.TutLink("See how to use #" + "if", "hybrid410/page")
</div>
