@inherits Custom.Hybrid.Razor14
@using System.Linq;
@{
  var Sys = CreateInstance("../shared/Helpers.cs");
  var viewMdEnt = (CmsContext.View.Metadata.OfType(Sys.TutViewMetadataType) as IEnumerable<dynamic>).FirstOrDefault();
  
  if (viewMdEnt == null) {
    return;
  }

  var viewMd = AsDynamic(viewMdEnt);

  if (viewMd == null || viewMd.Specs == null || viewMd.Specs.Count == 0) {
    return;
  }

  var infoSection = Sys.InfoSection;
}

<div @Sys.PageParts.InfoBoxWrapper()>
  @infoSection.Part(viewMd.Specs, "Requirements").Section(viewMd.Specs.Requirements)
  @infoSection.Part(viewMd.Specs, "Resources").Section(viewMd.Specs.Resources)
  @infoSection.Part(viewMd.Specs, "Related").Section(viewMd.Specs.Related)
</div>