@inherits Custom.Hybrid.Razor14
@*
  Info: documentation purpose only
  2sxclint:disable:v14-no-getservice
*@
@{
  var ServiceName = DynamicModel.ServiceName;
  var serviceInterface = DynamicModel.Service;
}
<div class="BaseClassInfo alert alert-info mb-5">
  <h4>Info about the Base Class</h4>
    <p>This tutorial inherits from the <b>Custom.Hybrid.Razor14 </b> base class.</p>
    <p>This allows us to use <code>Kit.@ServiceName</code> to access an <code>@serviceInterface</code> without having to use <code>GetService&lt;@serviceInterface&gt;</code></p>
</div>