@inherits AppCode.Razor.AppRazor<AppCode.Data.TutorialGroup>
@using ToSic.Razor.Blade
@using AppCode.Data
@{
  var tutGroup = Model;

  if (tutGroup == null || tutGroup.IsEmpty("Notes")) {
    return;
  }

  // Show all the 'shared' notes 
  foreach (var note in tutGroup.Notes) {
    if (note.NoteSource == "cshtml") {
      <div @Kit.Toolbar.Empty().Edit(note)>
        @Html.Partial("../../" + note.CshtmlFile)
      </div>
    } else {
      <div class='alert alert-@note.Attribute("NoteType")'>
        <h4>@note.Title</h4>
        @note.Html("Note")
      </div>
    }
  }
}