@inherits Custom.Hybrid.RazorTyped
@using AppCode.Data
@{/*! Tut.Tabs=model:Persons,ViewConfig */
  var viewCnf = MyModel.Code("Tutorial").ViewConfig;
  var MyItem = AsItem(viewCnf.Content(query: "QuickRef-Persons-Selected") as object);
/*!*/}
<h4>Douglas Adams, the current item (MyItem)</h4>
@{
  var person = As<Persons>(MyItem);
}
<p>Use <code>.Url(…)</code> to resolve file references such as <code>file:72</code></p>
<ol>
  <li>Mugshot URL:          @person.Mugshot</li>
  <li>Mugshot field Value:  @person.String("Mugshot")</li>
  <li>
    Mugshot Picture <br>
    @person.Picture("Mugshot", settings: "Square", width: 100, imgClass: "rounded-circle")
  </li>
</ol>
