@inherits Custom.Hybrid.RazorTyped
<p>
  Hit edit to see in action:
  @Kit.Toolbar.Empty().New("UiPickerIconsSvg").AsTag()
  <br>
  ⚠️ IMPORTANT: This will not work on the public demo
  because the UI must ask the Server for files in a specific folder, which requires higher permissions.
  So to test, please install the tutorial App on your own server.
</p>
