@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade
@{/*! Tut.Tabs=ViewConfig */
  var viewCnf = DynamicModel.Tutorial.ViewConfig;
  var Data = viewCnf.Query(query: "QuickRef-Persons-Selected");
/*!*/}
<ul>
  @foreach (var person in AsList(Data)) {
    <li>
      @if (Text.Has(person.Mugshot)) {
        <img loading="lazy" src="@person.Mugshot?w=50&h=50&mode=crop" width="50px" style="border-radius: 50%">
      }
      @person.FirstName @person.LastName
      @if (person.Awards.Count > 0 ) {
        // we just want the award names
        // to understand this, look at the LINQ tutorial
        var awardNames = AsList(person.Awards as object).Select(a => a.Name);
        <span>
          (awards: @string.Join(",", awardNames))
        </span>
      }
    </li>
  }
</ul>