@inherits Custom.Hybrid.RazorTyped
<hide-silent>
@{
  // Patch so the tutorial works reliably even if the main module had data added which are not a person
  // So we're simulating that `MyData` is the assigned query for this view
  var MyItems = AsItems(App.GetQuery("QuickRef-Persons-Selected"));
}
</hide-silent>
<ul>
  @foreach (var person in MyItems) {
    <li>
      @person.Picture("Mugshot", settings: "Square", width: 50, imgClass: "rounded-circle")
      @person.String("FirstName") @person.String("LastName")
      @if (person.Children("Awards").Any()) {
        // we just want the award names
        // to understand this, look at the LINQ tutorial
        var awardNames = person.Children("Awards").Select(a => a.String("Name"));
        <span>
          (awards: @string.Join(",", awardNames))
        </span>
      }
    </li>
  }
</ul>