@inherits Custom.Hybrid.RazorTyped

@{
  var users = Kit.User.GetUsers()
    .Where(u =>
      u.Roles.Any(r =>
        r.Name == "Registered Users"
      )
    );
}

<h3>Users in 'Registered Users'</h3>
<ul>
  @foreach (var user in users)
  {
    <li>@user.Username</li>
  }
</ul>