@inherits Custom.Hybrid.RazorTyped

@{
  var allRoles = Kit.User.GetRoles();
}

<h3>All Roles</h3>
<ul>
  @foreach (var role in allRoles)
  {
    @* if(user.Roles.Any()) *@
    <li>@role.Name</li>
  }
</ul>
