@inherits Custom.Hybrid.Razor14

<div class="row">
  <div class="col-sm"><img loading="lazy" src="@App.Path/img/assets/koi-400.jpg"> <br> (jpg 15k)</div>
  <div class="col-sm"><img loading="lazy" src="@App.Path/img/assets/koi-400.png"> <br> (png 11k - note the dithering)</div>
  <div class="col-sm"><img loading="lazy" src="@App.Path/img/assets/koi-400.webp"> <br> (webp 8k)</div>
</div>