@inherits Custom.Hybrid.RazorTyped
@using System.Linq

@{
  // Initial Code
  var persons = AsItems(App.Data.GetStream("Persons"));
}  
<ol>
  @foreach (var person in persons
  .Where(p => p.String("FirstName").Length > 5)) 
  {
    <li>@person.Get("FirstName") @person.Get("LastName")</li>
  }
</ol>