@inherits Custom.Hybrid.RazorTyped
@using System.Linq;

@{
// Initial Code
  var persons = AsItems(App.Data.GetStream("Persons"));
  var books = AsItems(App.Data.GetStream("Books"));
}
<ol>
  <li>
    All Persons: @persons.Count()
  </li>
  <li>
    All Books: @books.Count()
  </li>
  <li>
    Books with Illustrators:
    @books.Where(b => b.Children("Illustrators").Count() > 0).Count())
  </li>
</ol>