@inherits Custom.Hybrid.RazorTyped
@using System.Linq;

@{
  // Initial Code
  var persons = AsItems(App.Data.GetStream("Persons"));
}
<ol>
  <li>
    First: @persons.First().Get("FirstName")
  </li>
  <li>
    Last: @persons.Last().Get("FirstName")
  </li>
</ol>