@inherits Custom.Hybrid.RazorTyped
@using System.Linq;

@{
  // Initial Code
  var persons = AsItems(App.Data.GetStream("Persons"));
}
<ol>
  <li>
    Persons with 5-char names or more: 
    @persons.Any(p => p.String("FirstName").Length > 5)
  </li>
  <li>
    Persons with 10-char names or more: 
    @persons.Any(p => p.String("FirstName").Length > 10)
  </li>
</ol>