@inherits Custom.Hybrid.RazorTyped
@using System.Linq;

@{
  var persons = AsItems(App.Data.GetStream("Persons"));
  var books = AsItems(App.Data.GetStream("Books"));
}
<ol>
  @foreach (var person in persons.Skip(3)) {
    <li>@person.Get("FirstName") @person.Get("LastName")</li>
  }
</ol>