@inherits Custom.Hybrid.Razor14
@using System.Linq

@{
  var persons = AsList(App.Data["Persons"]);
  var books = AsList(App.Data["Books"]);
}
<ol>
  @foreach (var person in persons.Take(3)) {
    <li>@person.FirstName @person.LastName</li>
  }
</ol>