@inherits Custom.Hybrid.Razor14
@using System.Linq

@{
  // Initial Code
  var persons = AsList(App.Data["Persons"]);
}
<ol>
  @foreach (var person in persons
  .Where(p => p.FirstName == "Terry")) 
  {
    <li>@person.FirstName @person.LastName</li>
  }
</ol>