@inherits Custom.Hybrid.Razor14
@using System.Linq

@{
  // Initial Code
  var persons = AsList(App.Data["Persons"]);
}
<ol>
  <li>
    First: @persons.First().FirstName
  </li>
  <li>
    Last: @persons.Last().FirstName
  </li>
</ol>