@inherits Custom.Hybrid.Razor14
@using System.Linq;

@{
  var persons = AsList(App.Data["Persons"]);
}
<ol>
  @foreach (var person in persons
    .OrderBy(p => p.EntityId))
  {
    <li>@person.FirstName @person.LastName 
      (#@person.EntityId)
    </li>
  }
</ol>