@inherits Custom.Hybrid.RazorTyped
@{
  // Sys helps generate code snippets etc.
  var Sys = GetCode("/shared/Helpers.cs").Init(this);
  // variable to hold each section config
  dynamic qref;

  // Variables for the tests
  string jsonRoot = MyView.Folder.PhysicalPath + "/Json/json";
}

@((qref = Sys.SourceCode.QuickRefSplit33(tabs: new Dictionary<string, string> {
  { "cities.json", "file:json/cities.json" },
})).SnipStart())
@{
  // Simple JSON strings which could come from a file or web service
  var jCities = System.IO.File.ReadAllText(jsonRoot + "/cities.json");

  // Convert the JSON to ITyped
  var cities = Kit.Json.ToTypedList(jCities);
}
<ol>
  @foreach(var city in cities) {
    <li>Name: <code>@city.String("Name")</code></li>
  }
</ol>
@qref.SnipEnd()



