@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade;
@using System.Linq;
@{/*! Tut.Tabs=ViewConfig */
  var viewCnf = MyModel.Code("Tutorial").ViewConfig;
  viewCnf.Query("SqlTop10Files" + MyContext.Platform.Name);
/*!*/}
@{
  // Different query in DNN / Oqtane - eg. "SqlTop10FilesDnn"
  var queryName = "SqlTop10Files" + MyContext.Platform.Name;

  // get the query and ask for the "Default" results as a List of Dynamic objects
  // This case doesn't set parameters, so we're using the defaults (current site)
  var query = Kit.Data.GetQuery(queryName);
  var currentFiles = AsItems(query);
}
<ul>
  @foreach (var file in currentFiles) {
  <li>
    @file.Get("Name")
  </li>
}
</ul>