@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade
@using System.Linq
@using AppCode.DataSources
@* ⬆️ This is the namespace for our custom DataSources *@
@*!
Tut.Tabs=datasource:Basic101
!*@
@{
  // Create the Dynamic DataSource with the name "Basic101"
  var basic101 = Kit.Data.GetSource<Basic101>();
  var items = AsItems(basic101);
}
<h3>List of Data in the CSV DataSource (@items.Count())</h3>
<ul>
  @foreach (var item in items) {
    <li>
      <strong>@item.Title</strong> - the Answer: @item.Int("TheAnswer")
    </li>
  }
</ul>