@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade
@using System.Linq
@using AppCode.DataSources
@{
  // Create the Dynamic DataSource with the name "Basic101Commented"
  var basic101c = Kit.Data.GetSource<Basic101Commented>();
  var items = AsItems(basic101c);
}
<h3>List of Data in the CSV DataSource (@items.Count())</h3>
<ul>
  @foreach (var item in items) {
    <li>
      <strong>@item.Title</strong> - the Answer: @item.Int("TheAnswer")
    </li>
  }
</ul>