@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade
@using System.Linq
@using AppCode.DataSources
@{
  // Create the Dynamic DataSource with the name "Basic101"
  var basic101 = Kit.Data.GetSource<Basic101>();
  // Create a list of strictly typed objects as defined in Basic101Model.cs
  var items = AsList<Basic101Model>(basic101);
}
<h3>List of Data in the CSV DataSource (@items.Count())</h3>
<ul>
  @foreach (var item in items) {
    <li>
      <strong>@item.Title</strong> - the Answer: @item.TheAnswer
    </li>
  }
</ul>