@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade
@using System.Linq
@{
  // Create the Dynamic DataSource with the name "DataFromWebService"
  var weather = Kit.Data.GetSource(name: "DataFromWebService");
  var items = AsList(weather);
}
<h3>Data in the DataSource (@items.Count())</h3>
<ul>
  @foreach (var item in items) {
    <li>Current Temperature: @item.Temperature</li>
    <li>WindSpeed: @item.WindSpeed</li>
    <li>WindDirection: @item.WindDirection</li>
  }
</ul>