@inherits Custom.Hybrid.RazorTyped
@{ var Sys = GetCode("/shared/Helpers.cs").Init(this); }



@{
  // Variables for the tests
  string jsonRoot = MyView.Folder.PhysicalPath + "/Json/json";
}

@{ var qref = Sys.SourceCode.QuickRef(item: MyModel.Item("Item"), tabs: "file:json/cities.json" ); }
@qref.SnipStart()
  @{
    // Simple JSON strings which could come from a file or web service
    var jCities = System.IO.File.ReadAllText(jsonRoot + "/cities.json");

    // Convert the JSON to ITyped
    var cities = Kit.Json.ToTypedList(jCities);
  }
  <ol>
    @foreach(var city in cities) {
      <li>Name: <code>@city.String("Name")</code></li>
    }
  </ol>
@qref.SnipEnd()
