@inherits Custom.Hybrid.RazorTyped
@{/*! Tut.Tabs=ViewConfig */
  var viewCnf = MyModel.Code("Tutorial").ViewConfig;
  var MyItems = AsItems(viewCnf.List(query: "QuickRef-Persons-Selected") as object);
/*!*/}
<ul>
  @foreach (var person in MyItems) {
    <li>
      @person.Picture("Mugshot", settings: "Square", width: 50, imgClass: "rounded-circle")
      @person.String("FirstName") @person.String("LastName")
      @if (person.Children("Awards").Any()) {
        // we just want the award names
        // to understand this, look at the LINQ tutorial
        var awardNames = person.Children("Awards").Select(a => a.String("Name"));
        <span>
          (awards: @string.Join(",", awardNames))
        </span>
      }
    </li>
  }
</ul>
