@inherits Custom.Hybrid.Razor14
@Html.Partial("../Shared/Layout/Header.cshtml", new { Sys = DynamicModel.Sys, Title = "Customize Edit UI/UX", Name = "Customize Edit UX", Link = "#ui" })


@* disable the quick-e, because it will appear since our settings activates all *@
<div quick-edit-config='{ "enable": false }'></div>