@inherits Custom.Hybrid.Razor12
@CreateInstance("../shared/Helpers.cs").TitleAndBreadcrumb("Customize Edit UI/UX", "Customize Edit UX", "ui/home")

@* disable the quick-e, because it will appear since our settings activates all *@
<div quick-edit-config='{ "enable": false }'></div>