  <div class="alert alert-warning">
    Important: We opened permissions that you can experience the edit dialog - so you can save, but it will just create draft data 😉. 
  </div>


<hr>
<h2>More Stuff</h2>
<div>
  <a href="https://docs.2sxc.org/how-to/customize-edit-ux/input-fields.html" target="_blank">How-To Docs for Custom Input Fields</a> 
</div>