@inherits Custom.Hybrid.Razor14
@{/*!*/
  DynamicModel.Sys.ToolbarHelpers.AutoShowAllToolbarsStart();
/*!*/}
<div class="alert alert-light" 
  @Kit.Toolbar.Default(Content).Settings(hover:"left")>
  <h3>Hover Left</h3>
</div>
@{/*!*/
  DynamicModel.Sys.ToolbarHelpers.AutoShowAllToolbarsEnd();
/*!*/}
