@inherits Custom.Hybrid.RazorTyped
@{/*!*/
  MyModel.Code("Sys").ToolbarHelpers.AutoShowAllToolbarsStart();
/*!*/}
<div class="alert alert-light" 
  @Kit.Toolbar.Default(MyItem).Edit().New()>
  <h3>Add two buttons </h3>
</div>
@{/*!*/
  MyModel.Code("Sys").ToolbarHelpers.AutoShowAllToolbarsEnd();
/*!*/}