@inherits Custom.Hybrid.RazorTyped
@{/*!*/
  var tlbControl = GetCode("/tut-sys/ToolbarHelpers.cs");
  tlbControl.ToolbarsAutoShowStart(Kit.Toolbar);
/*!*/}
<div class="alert alert-light" 
  @Kit.Toolbar.Empty().Data("Books", tweak: b => b.Filter("Title", "Good Omens"))>
  <h3><code>Data</code> button with <em>string</em> 
    <code>filter</code> (tweak)
  </h3>
  <p>This will find all books with the title 
    <em>Good Omens</em>
  </p>
</div>
@{/*!*/
  tlbControl.ToolbarsAutoShowEnd(Kit.Toolbar);
/*!*/}