@inherits Custom.Hybrid.Razor14
@{/*!*/
  DynamicModel.Sys.ToolbarHelpers.AutoShowAllToolbarsStart();
/*!*/}
<h1>2dm @DynamicModel.Sys</h1>
<div class="alert alert-light" 
  @Kit.Toolbar.Default(Content).Edit().New()>
  <h3>Add two buttons </h3>
</div>
@{/*!*/
  DynamicModel.Sys.ToolbarHelpers.AutoShowAllToolbarsEnd();
/*!*/}