@inherits Custom.Hybrid.RazorTyped
@{/*!*/
  MyModel.Code("Sys").ToolbarHelpers.AutoShowAllToolbarsStart();
/*!*/}
@{
  var moreButtonToolbar = Kit.Toolbar.Default().Settings(autoAddMore:"never");
}
<div class="alert alert-light" @moreButtonToolbar
  .For(MyItem)>
  <h3>Remove <code>more</code> button</h3>
</div>
@{/*!*/
  MyModel.Code("Sys").ToolbarHelpers.AutoShowAllToolbarsEnd();
/*!*/}