@inherits Custom.Hybrid.RazorTyped
@{/*!*/
  var tlbControl = GetCode("/tut-sys/ToolbarHelpers.cs");
  tlbControl.ToolbarsAutoShowStart(Kit.Toolbar);
/*!*/}
<div class="alert alert-light" 
  @Kit.Toolbar.Default(MyItem).Edit().New()>
  <h3>Add two buttons </h3>
</div>
@{/*!*/
  tlbControl.ToolbarsAutoShowEnd(Kit.Toolbar);
/*!*/}