@inherits Custom.Hybrid.RazorTyped
@{/*!*/
  MyModel.Code("Sys").ToolbarHelpers.AutoShowAllToolbarsStart();
/*!*/}
<div class="alert alert-light" 
  @Kit.Toolbar.Default().Code("showMsg1",ui:"title=Show%20Message")
    .For(MyItem)>
  <h3>Just call <code>showMsg1()</code></h3>
</div>
@*! 2sxclint:disable:no-inline-script !*@
<script>
  function showMsg1() {
    alert('hello from my button!');
  }
</script>
@{/*!*/
  MyModel.Code("Sys").ToolbarHelpers.AutoShowAllToolbarsEnd();
/*!*/}