@inherits Custom.Hybrid.Razor14
@{/*!*/
  DynamicModel.Sys.ToolbarHelpers.AutoShowAllToolbarsStart();
/*!*/}
<div class="alert alert-light" 
  @Kit.Toolbar.Default(Content).Settings(autoAddMore: "end", hover: "left")>
  <h3>New syntax: Hover Left and 
    <code>more</code> button to the right
  </h3>
</div>
@{/*!*/
  DynamicModel.Sys.ToolbarHelpers.AutoShowAllToolbarsEnd();
/*!*/}