@inherits Custom.Hybrid.RazorTyped
@{/*!*/
  MyModel.Code("Sys").ToolbarHelpers.AutoShowAllToolbarsStart();
/*!*/}
<div class="alert alert-light" 
  @Kit.Toolbar.Default().Edit("-").Edit(tweak: b=>b.Color("red"))
    .For(MyItem)>
  <h3>Edit button is now red</h3>
</div>
@{/*!*/
  MyModel.Code("Sys").ToolbarHelpers.AutoShowAllToolbarsEnd();
/*!*/}
