@inherits Custom.Hybrid.RazorTyped
@{/*!*/
  MyModel.Code("Sys").ToolbarHelpers.AutoShowAllToolbarsStart();
/*!*/}
<div class="alert alert-light" 
@Kit.Toolbar.Default().New(tweak: b=>b.Color("pink,black"))
  .For(MyItem)>
  <h3>New syntax (tweak): 
    Add <code>new</code> button with colors 
  </h3>
</div>
@{/*!*/
  MyModel.Code("Sys").ToolbarHelpers.AutoShowAllToolbarsEnd();
/*!*/}