@inherits Custom.Hybrid.Razor14
@{/*!*/
  DynamicModel.Sys.ToolbarHelpers.AutoShowAllToolbarsStart();
/*!*/}
<div class="alert alert-light" 
@Kit.Toolbar.Default().New(tweak: b=>b.Position(-1))
  .For(Content)>
  <h3>New <em>tweak</em> syntax:
    Add <code>new</code> at the end of button-list
  </h3>
</div>
<div class="alert alert-light" 
  @Kit.Toolbar.Default(Content).New(ui: "pos=-1")>
  <h3>Add <code>new</code> 
    at the end of button-list
  </h3> 
</div>
@{/*!*/
  DynamicModel.Sys.ToolbarHelpers.AutoShowAllToolbarsEnd();
/*!*/}
