@inherits Custom.Hybrid.RazorTyped
@{/*!*/
  var tlbControl = GetCode("/Shared/ToolbarHelpers.cs");
  tlbControl.ToolbarsAutoShowStart(Kit.Toolbar);
/*!*/}
@{
  var customJsParamsToolbar = Kit.Toolbar.Default().Code("showMsg2", parameters:"id=42", 
      ui:"title=Show%20Message");
}
<div class="alert alert-light" 
  @customJsParamsToolbar.For(MyItem)>
  <h3>Just call <code>showMsg2()</code> 
    and use the parameter <code>id=42</code> 
  </h3>
</div>
@*! 2sxclint:disable:no-inline-script !*@
<script>
  function showMsg2(context, event) {
    console.log(context, event);
    alert('hello from my Message - got this id:' 
    + context.button.command.params.id);
  }
</script>
@{/*!*/
  tlbControl.ToolbarsAutoShowEnd(Kit.Toolbar);
/*!*/}