@inherits Custom.Hybrid.RazorTyped
@{/*!*/
  var tlbControl = GetCode("/tut-sys/ToolbarHelpers.cs");
  tlbControl.ToolbarsAutoShowStart(Kit.Toolbar);
/*!*/}
<div class="alert alert-light" 
@Kit.Toolbar.Default().New(tweak: b=>b.Color("pink,black"))
  .For(MyItem)>
  <h3>New syntax (tweak): 
    Add <code>new</code> button with colors 
  </h3>
</div>
@{/*!*/
  tlbControl.ToolbarsAutoShowEnd(Kit.Toolbar);
/*!*/}