@inherits Custom.Hybrid.Razor14
@{/*!*/
  DynamicModel.Sys.ToolbarHelpers.AutoShowAllToolbarsStart();
/*!*/}
<div class="alert alert-light"
  @Kit.Toolbar.Default().Edit("-").Edit(tweak: b=>b.Color("red"))
    .For(Content)>
  <h3>(tweak): Edit button is now red</h3>
</div>

<div class="alert alert-light" 
  @Kit.Toolbar.Default().Edit("-")
    .Edit(ui:"color=red").For(Content)>
  <h3>Edit button is now red</h3>
</div>
@{/*!*/
  DynamicModel.Sys.ToolbarHelpers.AutoShowAllToolbarsEnd();
/*!*/}