@inherits Custom.Hybrid.Razor14
@{/*!*/
  DynamicModel.Sys.ToolbarHelpers.AutoShowAllToolbarsStart();
/*!*/}
<div class="alert alert-light" 
  @Kit.Toolbar.Empty(Content).Edit()>
  <h3>Use empty toolbar template and add 
    <code>edit</code>
  </h3>
</div>
@{/*!*/
  DynamicModel.Sys.ToolbarHelpers.AutoShowAllToolbarsEnd();
/*!*/}