@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@*!
Tut.Tabs=file:./js/get-data.js
!*@
@* Make sure anonymous users have the 2sxc JS API *@
@Kit.Page.Activate("2sxc.JsCore")

<table id="example-content" class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Birthdate</th>
      <th>Poems</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

@* This tutorial uses turnOn, see turnOn tutorials *@
@Kit.Page.TurnOn("window.sxcDataTutorial200.init()", data: new {
  moduleId = CmsContext.Module.Id
})

<script src="@App.Path/tutorials/js-data/js/get-data.js" @Kit.Page.AssetAttributes()></script>