@inherits Custom.Hybrid.RazorTyped
@{ var Sys = GetCode("/shared/Helpers.cs").Init(this); }


@{ var qref = Sys.SourceCode.QuickRef(item: MyModel.Item("Item"), tabs: "file:../../reuse/SharedFunctions.cs" ); }
@qref.SnipStart()
  @{
    // helper library to say hello & create QR codes
    var qrLib = GetCode("../../reuse/SharedFunctions.cs");
  }
  <h4>Call some Code in External CSharp Files</h4>
  <ol>
    <li>Hello from shared lib: @qrLib.SayHello()</li>
    <li>
      QR Code from shared lib <br>
      <img loading="lazy" src='@qrLib.QrPath("https://2sxc.org")' width="75px">
    </li>
  </ol>
@qref.SnipEnd()
