@inherits Custom.Hybrid.Razor14
@{ var Sys = CreateInstance("/shared/Helpers.cs").Init(this); }
@{ dynamic qref; }


<h3>Reuse Razor Components (Partial)</h3>
  @((qref = Sys.SourceCode.QuickRefSplit33(tabs: new Dictionary<string, string> {
    { "Source line.cshtml", "file:../../reuse/line.cshtml" },
  }, tutorials: new string[] { "reuse110" })).SnipStart())
  <h4>Call some external Razor files</h4>
  <ol>
    <li>@Html.Partial("../../reuse/line.cshtml")</li>
    <li>@Html.Partial("../../reuse/line.cshtml")</li>
  </ol>
@qref.SnipEnd()