@* 




  NOTE: THIS FILE IS NOT BEING USED 



*@
@inherits Custom.Hybrid.Razor14
<hide>
@Html.Partial("_header.cshtml")
@{  var hlp = CreateInstance("../shared/Helpers.cs"); }
</hide>
<trim>
  <p>
    Learn the basics of Images, Image Resizing and Pictures.
  </p>
  <hr>
</trim>

<h2>Basic Examples</h2>

<ol>
  @hlp.TutorialLink("Images (img) and Pictures (picture) with Best Practices", "img100", 
  "Best ways to use img, picture and also give various sizes / formats for the browser to load")
  @hlp.TutorialLink("Resize and Crop Images Automatically", "img200")
  @hlp.TutorialLink("Resize and Crop using Preset Sizes and Configurations", "img210")
</ol>



