@inherits Custom.Hybrid.RazorTyped
@using System.Linq;

@{
  // Initial Code
  var persons = AsItems(App.Data.GetStream("Persons"));
  var books = AsItems(App.Data.GetStream("Books"));
}
<ol>
  @{ 
    var booksGroupedByAuthor = books
      .SelectMany(b => AsItems(b.Children("Authors"))
      .Select(a => new { Book = b, Author = a }))
      .GroupBy(set => set.Author);
    
    foreach (var group in booksGroupedByAuthor) {
      <li>
        Author: @group.Key.String("FirstName") @group.Key.String("LastName")
        <ul>
          @foreach (var bundle in group) {
            var names = AsItems(bundle.Book.Children("Authors"))
              .Select(a => a.String("FirstName") + " " + a.String("LastName"));
            <li>
              <strong>@bundle.Book.Get("Title")</strong> by
              @string.Join(",", names)
            </li>
          }
        </ul>
      </li>
    }
  }
</ol>
