@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@using System.Linq;

@{
  // Initial Code
  var persons = AsList(App.Data["Persons"]);
  var books = AsList(App.Data["Books"]);
}
@{
  // this keeps all books whose authors have awards
  var booksWithAwardedAuthors = books
    .Where(b => AsList(b.Authors as object).Any(a => a.Awards.Count > 0));
  var otherBooks = books.Where(b => !booksWithAwardedAuthors.Contains(b as object));
}
<ol>
  @foreach (var book in otherBooks) {
    <li><strong>@book.Title</strong></li>
  }
</ol>