@inherits Custom.Hybrid.Razor14
@using ToSic.Razor.Blade;
@using System.Linq;

@{
  // Initial Code
  var persons = AsList(App.Data["Persons"]);
  var books = AsList(App.Data["Books"]);
}
<ol>
  @foreach (var book in books) {
    // To work with a list coming off a dynamic object,
    // we have to tell the compiler it's a dynamic list
    var authors = AsList(book.Authors as object)
      .Select(a => a.FirstName + " " + a.LastName);

    <li><strong>@book.Title</strong>
      by @string.Join(", ", authors.OrderBy(ln => ln)) 
    </li>
  }
</ol>