@inherits Custom.Hybrid.RazorTyped
@using System.Linq;

@{
  // Initial Code
  var persons = AsItems(App.Data.GetStream("Persons"));
  var books = AsItems(App.Data.GetStream("Books"));
}
<ol>
  @foreach (var group in books.GroupBy(b => b.Child("Authors"))) {
    <li>
      Group
      <ul>
        @foreach (var book in group) {
          <li>
            <strong>@book.Get("Title")</strong> by
            @string.Join(",", AsItems(book.Children("Authors"))
            .Select(a => a.String("FirstName") + " " + a.String("LastName")))
          </li>
        }
      </ul>
    </li>
  }
</ol>